/*
* CometChat
* Copyright (c) 2014 Inscripts - support@cometchat.com | http://www.cometchat.com | http://www.inscripts.com
*/
<?php
if(file_exists(dirname(dirname(dirname(dirname(__FILE__)))).DIRECTORY_SEPARATOR."modules".DIRECTORY_SEPARATOR."chatrooms".DIRECTORY_SEPARATOR."themes".DIRECTORY_SEPARATOR.$theme.DIRECTORY_SEPARATOR."css".DIRECTORY_SEPARATOR."chatrooms.css")){
    include_once(dirname(dirname(dirname(dirname(__FILE__)))).DIRECTORY_SEPARATOR."modules".DIRECTORY_SEPARATOR."chatrooms".DIRECTORY_SEPARATOR."themes".DIRECTORY_SEPARATOR.$theme.DIRECTORY_SEPARATOR."css".DIRECTORY_SEPARATOR."chatrooms.css");
}
?>
body {
	margin: 0;
}

#cometchat * {
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-o-box-sizing: content-box !important;
}

#cometchat_hidden * {
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-o-box-sizing: content-box !important;
}

#cometchat *:after, #cometchat *:before {
	content: none !important;
}

#cometchat {
	font-size: normal;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	z-index: 100000;
	direction: <?php echo $dir;?>;
	overflow: hidden;
	height: 100%;
	background: <?php echo $themeSettings['right_content_background'];?>;
}

#cometchat_loggedout_container {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

#cometchat_loggedout{
	color: <?php echo $themeSettings['left_header_background'];?>;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-weight: bold;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.cometchat_loggedout_icon{
	width: 50px;
}

#cometchat_social_login{
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
}

#cometchat_social_login .login_container{
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 10000;
}

#cometchat_social_login .login_image_container{
	background: #FFF;
	padding: 3%;
	border-radius: 3%;
	box-shadow: 10px 10px 5px #888;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	width: 200px;
	margin: 0px auto;
}

#cometchat_social_login .login_image_container p{
	text-align: center;
	font-family: <?php echo $themeSettings['left_header_font_family']; ?>;
	margin-top: 4px;
}

#cometchat_tabcontainer, #cometchat_tabcontainer *, .cometchat_chatboxmessage {
	overflow: visible;
}

#cometchat_lefttab{
	width: 300px;
	float:left;
	background:<?php echo $themeSettings['left_header_background'];?>;
	height: 100%;
}

#cometchat_righttab{
	margin-left: 300px;
	overflow: hidden;
	background:<?php echo $themeSettings['right_content_background'];?>;
}

#cometchat_self_container{
	margin-left: 2%;
}

#cometchat_self{
	overflow: hidden;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	margin-top: 4px;
}

#cometchat_selfDetails{
	overflow: hidden;
	float: left;
	max-width: 80%;
}

#cometchat_self_left{
	display: inline-block;
	max-width: 78%;
	color:<?php echo $themeSettings['left_header_color'];?>;
}

#cometchat_self_right{
	float: <?php echo $right;?>;
	margin-top: 2px;
}

.cometchat_chatboxLeftDetails{
	overflow: hidden;
	float: <?php echo $left;?>;
	width: 45%;
	color: <?php echo $themeSettings['right_header_color'];?> !important;
}

.cometchat_userchatbox .cometchat_chatboxLeftDetails{
	width: 70%;
}

.cometchat_chatboxDisplayDetails{
	overflow: hidden;
	float: <?php echo $left;?>;
	max-width: 80%;
}

.cometchat_userdisplayname{
	padding: 6px 0px 2px 0px;
	margin-<?php echo $left;?>: 22px;
	font-size: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 16px;
	max-width: 100%;
}

.cometchat_userdisplaystatus {
	padding: 2px 0px 1px 0px;
	margin-<?php echo $left;?>: 22px;
	opacity: 0.75;
	font-size: 13px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}

.cometchat_lastseenmessage {
    padding: 2px 0px 1px 0px;
    margin-left: 22px;
    opacity: 0.75;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.cometchat_chatboxMenuOptions{
	float: <?php echo $right;?>;
	margin-right: 30px;
}

.cometchat_menuOption{
	height: 37px;
	width: 37px;
	float: <?php echo $left;?>;
	margin: 0px 5px;
	margin-top: 12px;
	cursor: pointer;
	position: relative;
}

#cometchat_activechatboxes_popup .openchatbox_container{
	width: 215px;
	padding: 8px;
	height: 204px;
}

.cometchat_pluginsOption{
	position: relative;
}

.menuOptionPopup{
	display: none;
    position: absolute;
    width: 250px;
    <?php if ($rtl):?>
	left: 2px; /*2 to adjust the arrow*/
	<?php else:?>
	right: -3px; /*-3 to adjust the arrow*/
	<?php endif;?>
    top: 52px;
}

.cometchat_menuOptionIcon{
	height: 28px;
	width: 28px;
	margin-top: 5px;
	<?php if ($rtl):?>
	margin-right: 5px;
	<?php else:?>
	margin-left: 5px;
	<?php endif;?>
	border-radius: 50%;
	border: 0.2em #FFFFFF solid;
	-webkit-transition: background 0.25s,width 0.25s,height 0.25s,margin 0.25s;
	-moz-transition: background 0.25s,width 0.25s,height 0.25s,margin 0.25s;
	-ms-transition: background 0.25s,width 0.25s,height 0.25s,margin 0.25s;
	transition: background 0.25s,width 0.25s,height 0.25s,margin 0.25s;
	transition-property: width,height,background,margin;
	transition-duration: 0.25s,0.25s,0.25s,0.25s;
}

.cometchat_menuOptionIcon:hover{
	margin-top: 2px;
	<?php if ($rtl):?>
	margin-right: 2px;
	<?php else:?>
	margin-left: 2px;
	<?php endif;?>
	height: 35px;
	width: 35px;
}

.cometchat_menuOptionIconClick{
	background: <?php echo $themeSettings['left_header_background'];?>;
	<?php if ($rtl):?>
	margin-right: 5px;
	<?php else:?>
	margin-left: 5px;
	<?php endif;?>
	height: 28px;
	width: 28px;
}

#cometchat_tabcontainer {
	display: block;
	overflow: hidden;
	position: relative;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size'];?>;
	height: 39px;
}

#cometchat_chatboxes {
	float: right;
	height: 25px;
	overflow: hidden;
}

#cometchat_chatboxes_wide {
	height: 25px;
	width: 0px;
	overflow: hidden;
}

#cometchat_chatbox_left {
	border-top: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 3px -350px;
	border-left: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	color: <?php echo $themeSettings['left_content_color'];?>;
	cursor: pointer;
	float: right;
	height: 18px;
	margin-top: 1px;
	padding-left: 11px;
	padding-top: 6px;
	width: 10px;
}

#cometchat_chatbox_right {
	border-top: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 11px -572px;
	border-left: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	color: <?php echo $themeSettings['left_content_color'];?>;
	cursor: pointer;
	float: right;
	height: 18px;
	margin-top: 1px;
	padding-left: 3px;
	padding-top: 6px;
	width: 17px;
}

.cometchat_chatbox_right_last {
	background-position: 11px -611px !important;
	color: <?php echo $themeSettings['left_content_seperator_hr_background'];?> !important;
	cursor: default !important;
}

.cometchat_chatbox_left_last {
	background-position: 3px -389px !important;
	color: <?php echo $themeSettings['left_content_seperator_hr_background'];?> !important;
	cursor: default !important;
}

.cometchat_chatbox_lr {
	display: none !important;
}

.cometchat_chatbox_lr_mouseover {
	background-color: <?php echo $themeSettings['left_content_background'];?> !important;
}

/* Add display:none for below to hide options and whos online tab */

#cometchat_optionsbutton {
	padding: 8px;
	margin-right: 8px;
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.cometchat_filetransfer_modal div {
	display: none;
	position: absolute;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	z-index: 75;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cometchat_filetransfer_overlay {
	display: none;
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000000;
	background-color: rgba(0, 0, 0, 0.0);
}

.cometchat_filetransfer_overlay_show {
	display: block !important;
	background-color: rgba(0, 0, 0, 0.7) !important;
}

.cometchat_filetransfer_image {
	position: relative;
	z-index: 77;
	max-width: 100%;
	max-height: 100%;
	margin-left: 0px;
	opacity: 1;
}
.cometchat_filetransfer_modal div:target video {
	margin-left: 0px;
	opacity: 1;
}
.close_dialog {
	cursor: pointer;
	position: fixed;
	z-index: 1000;
	right: 15px;
  	top: 15px;
}
.cometchat_filetransfer_content {
	position: relative;
	z-index: 100000;
}
.cometchat_filetransfer_download {
	cursor: pointer;
	position: fixed;
	top: 15px;
	right: 55px;
	z-index: 1000;
}

#cometchat_optionsbutton_icon:hover{
	-webkit-animation: rotation 2s linear infinite; /* Chrome, Safari, Opera */
    -moz-animation: rotation 2s linear infinite; /* Chrome, Safari, Opera */
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
	from{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
	to{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}
}

@-moz-keyframes rotation {
	from{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
	to{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}
}

@-webkit-keyframes rotation {
    from {-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);	-o-transform: rotate(0deg);transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}
}

.cometchat_userstabclick {
	background-position: 5px 3px !important;
}

.cometchat_maxwindow {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 1px  -1175px;
	float: <?php echo $right;?>;
	height: 15px;
	width: 15px;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.cometchat_popwindow {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 1px -1114px;
	float: <?php echo $right;?>;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	height: 12px;
	width: 16px;
}

.cometchat_closebox:hover, .cometchat_maxwindow:hover , .cometchat_popwindow:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.cometchat_closebox {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 4px -973px;
	float: <?php echo $right;?>;
	height: 12px;
	width: 20px;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	text-indent: -999999px;
}

.cometchat_user_closebox {
	float: <?php echo $right;?>;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 13px;
	color: <?php echo $themeSettings['right_header_color'];?>;
	text-align: center;
	line-height: 21px;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-weight: bold;
	transition: background 0.3s ease;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	position: relative;
	right: -8px;
	top: -9px;
}

.cometchat_closebox_click {
	background-position: 0px -1010px !important;
}

.cometchat_user_closebox_click {
	background-position: 0px -1010px !important;
}

.cometchat_closebox:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.cometchat_user_closebox:hover {
	background:<?php echo $themeSettings['closebox_background'];?>;
	color: <?php echo $themeSettings['right_header_active_color'];?>;
}

.cometchat_chatboxmouseoverclose {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}


#cometchat_chatbox_buttons {
	float: right;
}

.cometchat_tabmouseovertext {
	text-decoration: underline;
}

.cometchat_statusinputs {
	border-top: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	margin-top: 10px;
	padding-left: 5px;
	padding-top: 4px;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.cometchat_tab {
	cursor: pointer;
	float: left;
	font-weight: bold;
	line-height: 1.2em;
	padding-bottom: 12px;
	padding-top: 12px;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size'];?>;
	background: <?php echo $themeSettings['left_header_background'];?>;
	color:<?php echo $themeSettings['left_header_color'];?>;
  	position: absolute;
}

.cometchat_tabclick {
	z-index: 100;
	background: <?php echo $themeSettings['left_content_background'];?>;
	color:<?php echo $themeSettings['left_content_active_color'];?>;
}

.cometchat_highlight {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	border-bottom: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
}

.cometchat_usertabclick {
	padding-left: 9px !important;
	width: 141px !important;
}

.cometchat_tabpopup {
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size'];?>;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.cometchat_tabpopup.cometchat_dropdownpopup{
	background: <?php echo $themeSettings['right_dropdown_popup_background'] ?>;
	border: 1px solid <?php echo $themeSettings['right_dropdown_popup_border'] ?>;
	color: <?php echo $themeSettings['right_dropdown_popup_color'] ?>;
	z-index: 999999;
}

#cometchat_popup_container {
	background: <?php echo $themeSettings['left_content_background'];?>;
	color: <?php echo $themeSettings['left_content_primary_color'];?>;
	height: 100%;
}

#cometchat_userstab_popup {
	left: 0;
}

#cometchat_optionsbutton_popup {
	width: 225px;
	position: absolute;
	<?php echo $right;?>: -2px;
	top: 38px;
	padding: 15px;
	z-index: 1000;
}
#cometchat_optionsbutton_popup .cometchat_tabsubtitle{
	color:<?php echo $themeSettings['right_dropdown_popup_color'] ?>;
}
.cometchat_optionstriangle{
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 11px solid <?php echo $themeSettings['right_dropdown_popup_border'] ?>;
	<?php echo $right;?>: 8px;
	top: -12px;
}

.cometchat_optionsinnertriangle {
	border-bottom: 11px solid  <?php echo $themeSettings['right_dropdown_popup_background'] ?>;
	top: -10px;
}

#cometchat_auth_popup {
	width: 300px;
	z-index: 99999;
	bottom: 24px;
}

img.auth_options {
	display: block;
	height: 36px;
	margin: 10px auto;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	cursor: pointer;
	position: relative;
}

img.auth_options:hover {
	left: 1px;
	top: -1px;
	-webkit-box-shadow: 0px 2px 4px #666666;
	-moz-box-shadow: 0px 2px 4px #666666;
	box-shadow: 0px 2px 4px #666666;
}

img.auth_options:active {
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 0px 0px 1px #666666;
	-moz-box-shadow: 0px 0px 1px #666666;
	box-shadow: 0px 0px 1px #666666;
}

.cometchat_tabopen {
	display: block !important;
}

.cometchat_tabtitle {
	background-color: <?php echo $themeSettings['left_content_background'];?> !important;
	border-left: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	border-right: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	border-top: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	color: <?php echo $themeSettings['left_content_color'];?>;
	cursor: pointer;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size'];?>;
	font-weight: bold;
	padding: 5px;
	padding-<?php echo $right;?>: 0px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.cometchat_userstabtitle {
	background-color: <?php echo $themeSettings['right_header_background'];?> !important;
	border-left: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	border-right: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	border-top: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	color: <?php echo $themeSettings['right_header_color'];?>;
	cursor: pointer;
	font-family: <?php echo $themeSettings['right_header_font_family'];?>;
	font-weight: bold;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	padding: 5px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.cometchat_userstabtitle div {
	color: <?php echo $themeSettings['right_header_color'];?>;
}

.cometchat_userstabtitletext {
	float: <?php echo $left;?>;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.cometchat_tabsubtitle {
	color: <?php echo $themeSettings['left_content_active_color'];?>;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size_small'];?>;
	line-height: 1.3em;
	padding: 5px 2%;
	overflow: visible;
}

.cometchat_userchatbox{
	background: <?php echo $themeSettings['right_content_background'];?>;
	position: relative;
	z-index: 100001;
}

.cometchat_userchatbox .cometchat_tabsubtitle {
	padding: 14px;
	background: <?php echo $themeSettings['right_header_background'];?>;
	height: 50px;
}

.cometchat_plugins {
	padding: 0;
	position: absolute;
	z-index: 10;
}

.cometchat_pluginsicon {
	background: url(themes/<?php echo $theme;?>/images/cometchat_plugin_icon.png) no-repeat top left;
	cursor: pointer;
	margin: 16px 0px;
  	display: block;
  	padding: 0px 10px;
}

.cometchat_pluginsicon span {
	padding: 3px 0px 20px 0px;
  	display: inline-block;
  	padding-<?php echo $left;?>: 36px;
  	width: 195px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cometchat_pluginsicon:hover {
	color: <?php echo $themeSettings['menu_element_hover_color'];?>;
}

.cometchat_pluginsicon_divider {
	margin-right: 5px;
}

.cometchat_tabcontent {
	background-color: transparent;
	background-position: left bottom;
	background-repeat: no-repeat;
	color: <?php echo $themeSettings['left_content_color'];?>;
	overflow: hidden;
	font-family: inherit;
	font-size: inherit;
	z-index: 100;
}

.cometchat_tabcontenttext {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	white-space: pre;
	white-space: -hp-pre-wrap;
	white-space: pre-line;
	overflow-x: hidden;
	overflow-y: auto;
	padding-<?php echo $right;?>: 8px;
	color: inherit;
	position: relative;
	z-index: 90;
	background-color: <?php echo $themeSettings['right_content_background'];?>;
	font-family: <?php echo $themeSettings['right_content_font_family'];?>;
	font-size: <?php echo $themeSettings['right_content_font_size'];?>;
	text-align: <?php echo $left;?>;
}

#cometchat_userscontent {
	line-height: 100% !important;
	overflow-x: hidden;
	overflow-y: auto;
}

#cc_gotoPrevNoti {
	position: absolute;
	top: 3px;
	left: 50%;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	cursor: pointer;
	background: url(themes/synergy/images/uparr.png) no-repeat top left;
	background-size: 100%;
	opacity: 0.4;
}

#cc_gotoPrevNoti:hover {
	opacity: 1;
}

#cc_gotoNextNoti {
	position: absolute;
	bottom: 3px;
	left: 50%;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	cursor: pointer;
	background: url(themes/synergy/images/downarr.png) no-repeat top left;
	background-size: 100%;
	opacity: 0.4;
}

#cc_gotoNextNoti:hover {
	opacity: 1;
}

.cometchat_tabinputcontainer{
	overflow: hidden;
	padding: 10px;
	margin: 0px auto;
	width: 700px;
	background:<?php echo $themeSettings['right_inputcontainer_background'];?>;
}

.cometchat_tabcontentinput {
	border: 1px solid <?php echo $themeSettings['right_input_primary_color'];?>;
	border-radius: 5px;
	outline: none;
	padding: 4px 5px 0px 4px;
	overflow: hidden;
	display: block;
	background: #FFFFFF;
}

.cometchat_tabcontentsubmit {
	background: url(themes/<?php echo $theme;?>/images/submiticon.png) no-repeat 6px center;
	float: right;
	height: 16px;
	width: 16px;
	cursor: pointer;
	margin-left: 4px;
	margin-top: 4px;
	border: 0.2em solid #FFFFFF;
	background-size: 65%;
}

.cometchat_sendicon {
	background-color: <?php echo $themeSettings['right_input_primary_color'];?>;
	margin-right: 4px;
	margin-top: 1px;
	padding: 5px;
	border-radius: 50%;
}

.cometchat_textarea {
	display:block;
	width: 100%;
	border: none !important;
	box-shadow: none !important;
	color: <?php echo $themeSettings['right_input_color'];?> !important;
	font-family: <?php echo $themeSettings['right_content_font_family'];?>;
	font-size: <?php echo $themeSettings['right_content_font_size'];?>;
	height: 25px;
	outline: none;
	overflow: hidden;
	padding: 0px;
	resize: none;
	line-height: normal !important;
}

.cometchat_textarea:focus {
	border: none !important;
}

.cometchat_userlist_hover {
	background-color: rgba(0,0,0,0.1) !important;
}

.cometchat_tooltip_content {
	background-color:  <?php echo $themeSettings['tooltip_background'];?>;
	color: <?php echo $themeSettings['tooltip_color'];?>;
	font-family: <?php echo $themeSettings['tooltip_font_family'];?>;
	font-size: <?php echo $themeSettings['tooltip_font_size'];?>;
	padding: 5px;
	white-space: nowrap;
	word-wrap: break-word;
	opacity: 0.8;
}

.cometchat_tooltip_content:hover {
	opacity: 1;
}

.cometchat_userlist {
	cursor: pointer;
	overflow: hidden;
	line-height: 100%;
	padding-left: 2%;
	padding-top: 4px;
	padding-bottom: 1px;
	font-family: <?php echo $themeSettings['left_content_font_family'];?>;
	color: <?php echo $themeSettings['left_content_user_color'];?>;
}

.cometchat_userscontentname {
	float: <?php echo $left;?>;
	padding-<?php echo $left;?>: 15px;
	padding-top: 15px;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 14px;
	max-width: 135px;
}

.cometchat_userscontentdot {
	background-position: 0px 2px;
	background-repeat: no-repeat;
	float: <?php echo $right;?>;
	height: 10px;
	margin-top: 2px;
	width: 10px;
	position: absolute;
	bottom: 2px;
	right: 2px;
	border-radius: 50%;
	border: 1px solid #FFFFFF;
}

.cometchat_available {
	background: #97c846;
}

.cometchat_away {
	background: #EAAB5B;
}

.cometchat_busy {
	background: #FF1828;
}

.cometchat_invisible {
	background: #545454;
}

.cometchat_offline {
	background: #545454;
}

.cometchat_blocked {
	background: url(themes/<?php echo $theme;?>/images/block-red.png) no-repeat top left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	background-size: cover;
	border: 0;
	z-index: 100;
}

.cometchat_blocked_overlay {
	position: absolute;
	height: 40px;
	width: 40px;
	background-color: #FFFFFF;
	z-index: 100;
	opacity: 0.4;
	border-radius: 50%;
}

.cometchat_mobile {
	border-radius: 2px;
	border-style: solid;
	border-width: 2px 1px 4px;
	height: 8px !important;
	width: 6px !important;
	background: white;
}

.cometchat_mobile_available {
	border-color: #97c846;
}

.cometchat_mobile_away {
	border-color: #EAAB5B;
}

.cometchat_mobile_busy {
	border-color: #FF1828;
}

.cometchat_mobile_offline {
	border-color: #545454;
}

.cometchat_usertabclick .cometchat_mobile {
	margin-top: 2px; !important;
}

.cometchat_dot {
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	height: 0;
	left: 2px;
	position: absolute;
	top: 9px;
}

#cometchat_tooltip {
	top: 110px;
	display: none;
	padding-top: 4px;
	position: fixed;
	z-index: 900001;
	right: 20px;
	direction: <?php echo $dir;?>;
}

.cometchat_tooltip_left {
	background-position: left bottom !important;
}

.cometchat_closebox_bottom_status {
	background-position: 0 -1px;
	background-repeat: no-repeat;
	float: <?php echo $left;?>;
	height: 16px;
	width: 16px;
}

.cometchat_tabalert {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0 -532px;
	background-repeat: no-repeat;
	background-size: auto auto;
	color: #ffffff;
	font-size: 8px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	position: absolute;
	text-align: center;
	width: 16px;
	text-shadow: none;
	margin-top: -7px !important;
}


.cometchat_tabalertlr {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0 -537px;
	color: #ffffff;
	font-size: 8px;
	height: 16px;
	padding-top: 1px;
	position: absolute;
	text-align: center;
	width: 16px;
}

.cometchat_message_container{
	width: 700px;
	margin: 0px auto;
}

#plugin_container{
	max-height: 265px;
}
#moderator_container{
	max-height: 265px;
}
#moderator_container a{
	color: <?php echo $themeSettings['right_dropdown_popup_color']; ?> ;
	text-decoration: none;
	display: inline-block;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 190px;
}
#moderator_container a:hover{
	color: <?php echo $themeSettings['menu_element_hover_color']; ?> ;
}
#moderator_container .mod_list_item:hover a{
	color: <?php echo $themeSettings['menu_element_hover_color']; ?> ;
}

#moderator_container .mod_list_item{
	cursor: pointer;
	display: block;
	padding: 0px 10px;
}

.mod_option_icons {
	float: <?php echo $left;?>;
	margin: 8px;
}

.cometchat_chatboxmessage:not(.cometchat_self) {
	color: <?php echo $themeSettings['right_content_other_color'];?>;
	font-family: inherit;
	font-size: inherit;
	word-break: break-word;
	margin: 12px 170px 12px 40px;
	padding: 11px 18px;
	border-radius: 5px;
	background: <?php echo $themeSettings['right_content_other_background'];?>;
	<?php if ($rtl):?>
	margin: 12px 40px 12px 135px;
	<?php endif;?>
	position: relative;
}

.cometchat_chatboxmessage:not(.cometchat_self) a {
	color:  <?php echo $themeSettings['right_content_other_link_color'];?> !important;
}

.cometchat_chatboxmessage.cometchat_self {
	font-family: inherit;
	font-size: inherit;
	word-break: break-word;
	border-radius: 5px;
	padding: 11px 18px;
	background: <?php echo $themeSettings['right_content_self_background'];?>;
	margin: 12px 135px 12px 75px;
	<?php if ($rtl):?>
	margin: 12px 75px 12px 100px;
	<?php endif;?>
	color:  <?php echo $themeSettings['right_content_self_color'];?>;
	position: relative;
}

.cometchat_chatboxmessage.cometchat_self a{
	color: <?php echo $themeSettings['right_content_self_link_color'];?> !important;
}

.cometchat_chatboxmessage:not(.cometchat_self) .cometchat_messagearrow {
  border-<?php echo $right;?>: 12px solid <?php echo $themeSettings['right_content_other_background'];?>;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 0px;
  <?php echo $left;?>: -8px;
}

.cometchat_chatboxmessage.cometchat_self .cometchat_messagearrow {
  border-<?php echo $left;?>: 12px solid <?php echo $themeSettings['right_content_self_background'];?>;
  border-top: 15px solid transparent;
  position: absolute;
  bottom: 0px;
  <?php echo $right;?>: -8px;
}

.cometchat_statustextarea {
	border: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: 11px;
	height: 42px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px;
	resize: none;
	width: 200px;
}

.cometchat_statusmessagecount {
	display: none;
	float: <?php echo $right;?>;
	color: <?php echo $themeSettings['left_content_border_light'];?>;
}

.cometchat_search {
	border: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	color: <?php echo $themeSettings['left_content_color'];?>;
	background: <?php echo $themeSettings['left_content_background'];?>;
	font-family:  <?php echo $themeSettings['left_content_font_family'];?>;
	font-size: 13px;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 6px;
	width: 274px;
	display: block;
	border-radius: 3px;
}

.cometchat_search_light {
	color: <?php echo $themeSettings['left_content_color'];?> !important;
}

.cometchat_optionsstatus {
	cursor: pointer;
	float: <?php echo $left;?>;
	padding-<?php echo $left;?>: 6px;
	padding-top: 1px;
	width: 76px;
}

.cometchat_optionsstatus2 {
	float: <?php echo $left;?>;
	padding-left: 10px;
}

.cometchat_tabsubtitle a {
	color: <?php echo $themeSettings['right_header_color'];?> ;
}

.cometchat_user_invisible {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 10px -890px !important;
	height: 16px;
	width: 16px;
}

#cometchat_optionsbutton_popup .invisible {
	display: block !important;
	visibility: visible !important;
}

.cometchat_user_available {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -752px !important;
	height: 16px;
	width: 16px;
	float: <?php echo $left;?>;
}

#cometchat_userstab_icon {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -753px;
	float: <?php echo $left;?>;
	height: 16px;
	padding-right: 5px;
	width: 16px;
}

.cometchat_user_invisible2 {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -891px !important;
}

.cometchat_user_available2 {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -753px !important;
}

.cometchat_user_busy2 {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -799px !important;
}

.cometchat_user_away2 {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -845px !important;
}

.cometchat_optionsimages {
	display: block;
	height: 18px;
	width: 18px;
	background: url(themes/<?php echo $theme;?>/images/optionsimage.png) no-repeat top left;
}

.cometchat_optionsimages_exclamation {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 10px -263px !important;
}

.cometchat_optionsimages_ccauth {
	background: url(themes/lite/images/login.png) no-repeat top left !important;
	opacity: 0.7;
}

.cometchat_smiley {
	vertical-align: -3px;
	display: inline-block;
}

.cometchat_traypopup {
	background-color: <?php echo $themeSettings['left_content_background'];?>;
	font-family: <?php echo $themeSettings['left_content_font_family'];?>;
	font-size: <?php echo $themeSettings['left_content_font_size'];?>;
	position: fixed;
	z-index: 100001;
	bottom: 25px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.cometchat_traytitle {
	background-color: <?php echo $themeSettings['left_header_background'];?> !important;
	border-left: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	border-right: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	border-top: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	color: <?php echo $themeSettings['left_header_color'];?>;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size'];?>;
	font-weight: bold;
	padding: 5px;
	padding-<?php echo $right;?>: 0px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.cometchat_traycontent {
	background-color: <?php $themeSettings['left_header_background'];?>;
	background-image: url(themes/<?php echo $theme;?>/images/tabbottom_tray.gif);
	background-position: left bottom;
	background-repeat: no-repeat;
	border-left: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	border-right: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	color: <?php echo $themeSettings['left_content_color'];?>;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 1px;
}

.cometchat_traycontenttext {
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0px;
	position: relative;
}

.cometchat_trayclick {
	background-color: <?php echo $themeSettings['left_header_background'];?> !important;
	border-bottom: 1px solid <?php echo $themeSettings['left_content_border_light'];?> !important;
	border-left: 1px solid <?php echo $themeSettings['left_content_border_light'];?> !important;
	border-right: 1px solid <?php echo $themeSettings['left_content_border_light'];?> !important;
	color: <?php echo $themeSettings['left_content_color'];?> !important;
	margin-left: 0px;
	padding-bottom: 1px;
	padding-top: 4px !important;
	text-decoration: underline;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

.cometchat_traytitle .cometchat_minimizebox {
	margin-right: 6px;
}

.cometchat_userstabtitle .cometchat_minimizebox {
	margin-right: 3px;
}

.cometchat_minimizebox {
	cursor: pointer;
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 10px -462px;
	float: <?php echo $right;?>;
	height: 12px;
	width: 21px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#cometchat_authlogout{
	display: inline-block;
	cursor: pointer;
	background: url(themes/<?php echo $theme;?>/images/logout.png) no-repeat 0px 8px;
	width: 18px;
	height: 18px;
	padding: 10px;
	padding-left: 0px;
	vertical-align: top;
}

.cometchat_popout {
	cursor: pointer;
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 1px -1112px;
	float: <?php echo $right;?>;
	height: 16px;
	width: 16px;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.cometchat_minimizebox:hover, .cometchat_popout:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.cometchat_chatboxtraytitlemouseover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.cometchat_star {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 4px -1068px;
	height: 16px;
	width: 16px;
}

.cometchat_star_empty {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0 -1150px;
	height: 16px;
	width: 16px;
}

.cometchat_star_half {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0 -1196px;
	height: 16px;
	width: 16px;
}

.cometchat_name a, .cometchat_name a:link, .cometchat_name a:visited {
	color: <?php echo $themeSettings['left_header_background'];?>;
	float: <?php echo $left;?>;
	color: <?php echo $themeSettings['left_header_background'];?>;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size'];?>;
	text-decoration: underline;
}

.cometchat_name a:hover {
	color: <?php echo $themeSettings['left_header_background'];?>;
	text-decoration: none;
}

.cometchat_avatar {
	border: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	height: 28px;
}

.cometchat_avatarbox {
	float: <?php echo $left;?>;
	padding-<?php echo $right;?>: 5px;
}

.cometchat_ts {
	color: <?php echo $themeSettings['right_content_color']; ?>;
	cursor: default;
	font-size: 10px;
	padding-top: 12px;
	font-weight: bold;
	float: <?php echo $right;?>;
}

.cometchat_messagebox:hover span.cometchat_ts {
	color: <?php echo $themeSettings['right_header_background']; ?>;
}

.cometchat_ts_date {
	display: none;
}

.cometchat_optionstyle {
	padding: 5px;
}

.cometchat_tabstyle {
	height: 100%;
}

.cometchat_typing {
	background-image: url(themes/<?php echo $theme;?>/images/pencil.png);
	background-size: auto 100%;
    background-repeat: no-repeat;
	display: none;
	height: 13px;
	width: 16px;
}

.cometchat_buddylist_typing {
    background-image: url(themes/<?php echo $theme;?>/images/pencil_buddylist.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: none;
    float: <?php echo $left;?>;
    height: 13px;
    width: 16px;
}

.cometchat_sentnotification {
	background-image: url(themes/<?php echo $theme;?>/images/sent.png);
	background-size: auto 100%;
    background-repeat: no-repeat;
	display: inline-block;
	height: 8px;
	width: 14px;
}

.cometchat_deliverednotification {
	background-image: url(themes/<?php echo $theme;?>/images/delivered.png);
	background-size: auto 100%;
    background-repeat: no-repeat;
	display: inline-block;
	height: 8px;
	width: 14px;
}

.cometchat_readnotification {
	background-image: url(themes/<?php echo $theme;?>/images/read.png);
	background-size: auto 100%;
    background-repeat: no-repeat;
	display: inline-block;
	height: 8px;
	width: 14px;
}

.cometchat_chatboxmessagecontent{
	display: inline-block !important;
}

.cometchat_manage_blocklist{
	color :<?php echo $themeSettings['left_header_background'];?>;
}

.cometchat_manage_blocklist:hover{
	color :<?php echo $themeSettings['right_header_background'];?>;
}

.cometchat_manage_blocklist:visited{
	color :<?php echo $themeSettings['left_header_background'];?>;
}

.cometchat_userscontentavatar {
	display: block;
	float: <?php echo $left;?>;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-top: 1px;
	position: relative;
	min-height: 40px;
	min-width: 40px;
}

.cometchat_userscontentavatarimage {
	height: 40px;
	width: 40px;
	position: relative;
	border-radius: 50%;
}

.cometchat_userscontentavatarsmall{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: block;
	float: <?php echo $left;?>;
}

.cometchat_notification_avatar_image {
	height: 25px;
	width: 25px;
}

.cometchat_notification {
	border-top: 1px dotted <?php echo $themeSettings['tooltip_break'];?>;
	cursor: pointer;
	margin-top: 6px;
	padding-top: 4px;
}

.cometchat_notification:first-child {
	border-top: 0px !important;
	margin-top: 0px !important;
	padding-top: 0px !important;
	width: 190px;
}

.cometchat_notification_avatar {
	float: <?php echo $left;?>;
	padding-<?php echo $right;?>: 10px;
	padding-top: 2px;
	width: 25px;
}

.cometchat_notification_message {
	float: <?php echo $left;?>;
	white-space: normal;
	width: 144px;
	font-size: 12px;
}

.cometchat_notification_status {
	color: <?php echo $themeSettings['tooltip_color_light'];?>;
	display: none;
	font-size: 10px;
}

.cometchat_statusbutton {
	background-color: <?php echo $themeSettings['left_header_background'];?> !important;
	color: <?php echo $themeSettings['left_header_color'];?>;
	cursor: pointer;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size_small'];?>;
	font-weight: bold;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	width: 85px;
	height: 18px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 17px;
	padding: 5px;
	border: 1px solid <?php echo $themeSettings['left_header_background'];?>;
	float: <?php echo $left;?>;
}

.cometchat_guestnamebutton {
	background-color: <?php echo $themeSettings['left_header_background'];?> !important;
	color: <?php echo $themeSettings['left_header_color'];?>;
	cursor: pointer;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size_small'];?>;
	line-height: <?php echo $themeSettings['left_header_font_size_small'];?>;
	font-weight: bold;
	margin-left: 4px;
	padding: 6px;
	text-align:center;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	width: 77px;
	display: inline-block;
	position: fixed;
	margin-top: 3px;
}

.cometchat_guestnametextbox {
	border: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	color: <?php echo $themeSettings['left_content_color'];?>;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px;
	resize: none;
	width: 115px;
}

.cometchat_user_busy {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -798px !important;
	height: 16px;
	padding-left: 0px !important;
	width: 16px;
}

.cometchat_announcement {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	white-space: normal;
	width: 176px;
	text-align: <?php echo $left;?>;
}

.cometchat_announcement * {
   max-width: 100%;
}

.cometchat_user_shortname {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	float: <?php echo $left;?>;
}

#cometchat_hidden {
	background-image: url(themes/<?php echo $theme;?>/images/bgrepeat.png);
	bottom: 0px;
	cursor: pointer;
	display: none;
	position: fixed;
	right: 20px;
	z-index: 100000;
}

#guestsname {
	display: none;
	border-bottom: 1px solid #C0C0C0;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

#cometchat_hidden_content {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 7px -24px;
	border-left: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	border-right: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	height: 25px;
	padding-left: 7px;
	padding-right: 7px;
	width: 16px;
}

.cometchat_xtc {
	background: transparent url(themes/<?php echo $theme;?>/images/xgtc.png) repeat scroll 0 0;
	height: 10px;
}

.cometchat_xcl {
	background: transparent url(themes/<?php echo $theme;?>/images/xgcr.png) repeat scroll 0 0;
	width: 16px;
}

.cometchat_xcr {
	background: transparent url(themes/<?php echo $theme;?>/images/xgcl.png) repeat scroll 0 0;
	width: 10px;
}

.cometchat_xcc {
	background: transparent url(themes/<?php echo $theme;?>/images/xgcc.png) repeat scroll 0 0;
	font-size: 10px;
}

.cometchat_xbc {
	background: transparent url(themes/<?php echo $theme;?>/images/xgbc.png) repeat scroll 0 0;
	height: 8px;
}

.cometchat_tc {
	background: transparent url(themes/<?php echo $theme;?>/images/gtc.png) repeat-x scroll 0 0;
	height: 10px;
}

.cometchat_cl {
	background: transparent url(themes/<?php echo $theme;?>/images/gcl.png) repeat scroll 0 0;
	width: 10px;
}

.cometchat_cr {
	background: transparent url(themes/<?php echo $theme;?>/images/gcr.png) repeat scroll 0 0;
	width: 16px;
}

.cometchat_cc {
	background: transparent url(themes/<?php echo $theme;?>/images/gcc.png) repeat scroll 0 0;
	font-size: 10px;
}

.cometchat_bc {
	background: transparent url(themes/<?php echo $theme;?>/images/gbc.png) repeat-x scroll 0 0;
	height: 8px;
}

.cometchat_iphone .cometchat_chatboxmessage {
	margin-left: 0px;
}

.cometchat_iphone .cometchat_chatboxmessagefrom {
	display: none;
}

.cometchat_iphone {
	margin-bottom: 4px;
}

.cometchat_bl {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -59px;
	height: 9px;
	width: 10px;
}

.cometchat_br {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -118px;
	height: 9px;
	width: 16px;
}

.cometchat_tl {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -393px;
	height: 10px;
	width: 10px;
}

.cometchat_tr {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -453px;
	height: 10px;
	width: 16px;
}

.cometchat_xbr {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -572px;
	height: 9px;
	width: 10px;
}

.cometchat_xbl {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -631px;
	height: 9px;
	width: 16px;
}

.cometchat_xtr {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -906px;
	height: 10px;
	width: 10px;
}

.cometchat_xtl {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -966px;
	height: 10px;
	width: 16px;
}

#cometchat_hide {
	background: url(themes/<?php echo $theme;?>/images/hide.png) no-repeat top left;
	background-position: 8px;
	border-right: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	cursor: pointer;
	float: right;
	height: 18px;
	margin-left: 1px;
	margin-top: 1px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 6px;
	width: 16px;
}

#cometchat_flashcontent {
	position: absolute;
	top: -1000px;
}

.cometchat_tabstext{
	display: block;
	text-align: center;
}

.untranslatedtext {
	color: <?php echo $themeSettings['left_content_color_self'];?>;;
}

#cometchat_trayicons{
	margin: 2px 2% 5px 2%;
}

.cometchat_trayiconimage {
	cursor: pointer;
	margin-<?php echo $right;?>: 10px;
}

.cometchat_trayiconimage:hover {
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.cometchat_subsubtitle {
	color: <?php echo $themeSettings['left_content_seperator_color'];?>;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size'];?>;
	line-height: 1.3em;
	padding: 5px 0;
	cursor: default;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
}

.cometchat_subsubtitle .hrleft {
	display: inline-block;
	width: 30px;
	border: 0;
	background-color: <?php echo $themeSettings['left_content_seperator_hr_background'];?>;
	height: 1px;
	margin-right: 5px;
	margin-bottom: 3px;
}

.cometchat_subsubtitle .hrright {
	display: inline-block;
	width: 1000px;
	border: 0;
	background-color:  <?php echo $themeSettings['left_content_seperator_hr_background'];?>;
	height: 1px;
	margin-left: 5px;
	margin-bottom: 3px;
}

.cometchat_nofriends {
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size'];?>;
	line-height: 1.3em;
	padding: 10px;
	color: <?php echo $themeSettings['left_content_seperator_color'];?>;
}

.cometchat_ad {
	background: #F9F9F9;
}

.cometchat_message {
	overflow: hidden;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.cometchat_container {
	z-index: 100001;
	position: absolute;
}

.cometchat_container_title {
	cursor: default;
	background-color: <?php echo $themeSettings['left_header_background'];?>;
	color: <?php echo $themeSettings['left_header_color'];?>;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size'];?>;
	line-height: 15px;
	padding: 5px;
	font-weight:bold;
	padding-left:10px;
	padding-bottom: 6px;
	<?php if($rtl) :?>
	padding-right: 5px;
	<?php else :?>
	padding-right: 0px;
	<?php endif;?>
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.cometchat_container_title span {
	float: <?php echo $left;?>;
}

.cometchat_container_body {
	border-left: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	border-bottom: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	border-right: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	background-color: <?php echo $themeSettings['left_content_background'];?>;
	position: relative;
	overflow:hidden;
}

.cometchat_iframe {
	position: absolute;
	top: 0px;
	left: 0px;
}

.cometchat_loading {
	position: absolute;
	background: url(themes/<?php echo $theme;?>/images/loader.gif);
	right: 10px;
	top: 10px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.cometchat_overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

.cometchat_options_disable {
	border-top: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	border-bottom: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	margin-top: 10px;
	margin-bottom: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

#cometchat_userstab_popup_available, #cometchat_userstab_popup_busy, #cometchat_userstab_popup_invisible, #cometchat_userstab_popup_offline {
	cursor: pointer;
}

.cometchat_tabsubtitle2 {
	cursor: pointer;
	font-family: <?php echo $themeSettings['left_header_font_family'];?>;
	font-size: <?php echo $themeSettings['left_header_font_size'];?>;
	<?php if($lang == 'en'):?>
	padding: 7px 0px 7px 0px;
	<?php else:?>
	padding: 10px 8px;
	<?php endif;?>
	line-height: 1.3em !important;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: <?php echo $themeSettings['left_content_active_color'];?>;
}

.cometchat_tabsubtitle2 span{
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
}

.cometchat_unblock {
	float: right;
	cursor: pointer;
	background: url('plugins/block/unblock.png') no-repeat scroll 0px 0px transparent;
	height: 16px;
	width: 16px;
	margin-top: -1.5px;
}

.cometchat_userlist .cometchat_userscontentname {
	text-overflow: ellipsis;
	max-width: 195px;
	white-space: nowrap;
}

#cometchat_activechatboxes_popup .cometchat_userscontentname {
	max-width: 150px;
	padding-left: 10px;
}

.cometchat_msgcount{
	display: inline-block;
	float: right;
	padding-right: 10px;
	padding-top: 13px;
}

.cometchat_msgcounttext{
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	background: <?php echo $themeSettings['messagecount_background']; ?>;
	border-radius: 15px;
	color: white;
	font-weight: bold;
}

.cometchat_tab .cometchat_user_shortname {
	text-overflow: ellipsis;
	max-width: 105px;
	white-space: nowrap;
	overflow: hidden !important;
	<?php if($rtl) :?>
	margin-right: 4px;
	<?php endif;?>
}

.cometchat_usertabclick .cometchat_user_shortname {
	margin-top: 2px !important;
}

.cometchat_tabtitle .cometchat_name a {
	text-overflow: ellipsis;
	max-width: 160px;
	white-space: nowrap;
	overflow: hidden !important;
}

.cometchat_tabtitle .cometchat_name  {
	text-overflow: ellipsis;
	max-width: 160px;
	white-space: nowrap;
	overflow: hidden !important;
}

.invite_name{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100px;
	float: <?php echo $left;?>;
}

.cometchat_statusbutton > img , .cometchat_guestnamebutton > img {
	opacity: 0.5;
}

.cometchat_extra_width {
	width: 214px !important;
}

.cometchat_border_bottom {
	border-bottom: 1px solid <?php echo $themeSettings['left_content_border_light'];?>;
	background-image: none;
}

#cometchat .ui-icon,#cometchat .ui-widget-content .ui-icon {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 1px  -1141px;
}

#cometchat .ui-icon-gripsmall-diagonal-se { background-position: 0px -74px; }

#cometchat .ui-icon {
	width: 16px;
	height: 16px;
}

#cometchat .ui-resizable-se {
	cursor: se-resize;
	right: 1px;
	bottom: 1px;
}
#cometchat .ui-resizable-handle {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 1px  -1141px;
	position: absolute;
	font-size: 0.1px;
	display: block;
}
#cometchat .ui-icon {
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

#cometchat .file_image {
	max-width:100%;
	max-height: 300px;
	height: auto !important;
}

#cometchat .file_video {
	max-width:65px;
	max-height:110px;
	min-height:60px;
	display: block;
}

#cometchat .file_audio {
	max-width:65px;
	max-height:110px;
	min-height:60px;
	border: 1px dotted transparent;
	display: block;
}

#cometchat .imagemessage {
	display: block;
	margin-bottom: 3px;
	margin-top: 3px;
	max-width: 100%;
	text-decoration: none;
}

.cometchat_avchat{ background-position: 15px 0; width: 16px; height: 16px; }
.cometchat_block{ background-position: 15px -78px; width: 20px; height: 20px; }
.cometchat_broadcast{ background-position: 15px -160px; width: 20px; height: 20px; }
.cometchat_chathistory{ background-position: 15px -241px; width: 20px; height: 20px; }
.cometchat_chattime{ background-position: 15px -322px; width: 20px; height: 20px; }
.cometchat_clearconversation{ background-position: 15px -402px; width: 20px; height: 20px; }
.cometchat_style{ background-position: 15px -484px; width: 20px; height: 20px; }
.cometchat_filetransfer{background-color: <?php echo $themeSettings['right_input_primary_color'];?>;width: 16px;height: 16px;float: left;margin-right: 5px;margin-top: 1px;padding: 5px;border-radius: 50%;cursor: pointer;border: 0.2em solid #FFFFFF;background-size: 65%;}
.cometchat_games{ background-position: 15px -646px; width: 20px; height: 20px; }
.cometchat_handwrite{ background-position: 15px -728px; width: 20px; height: 20px; }
.cometchat_report{ background-position: 15px -808px; width: 20px; height: 20px; }
.cometchat_save{ background-position: 15px -890px; width: 20px; height: 20px; }
.cometchat_screenshare{ background-position: 15px -971px; width: 20px; height: 20px; }
.cometchat_smilies {float: right;margin-top: 0px;font-size: 27px;line-height: 17px;color: <?php echo $themeSettings['right_input_primary_color'];?>;font-weight: normal;cursor: pointer;}
.cometchat_transliterate{ background-position: 15px -1133px; width: 20px; height: 20px; }
.cometchat_whiteboard{ background-position: 15px -1214px; width: 20px; height: 20px; }
.cometchat_writeboard{ background-position: 15px -1295px; width: 20px; height: 20px; }
.cometchat_audiochat{ background-position: 15px -1376px; width: 20px; height: 20px; }
.cometchat_stickers { background-position: 15px -1502px; width: 20px; height: 20px; }


.cometchat_prependMessages{
   	background:<?php echo $themeSettings['right_content_lem_background'];?>;
   	width: 300px;
   	margin: 8px auto;
	color: <?php echo $themeSettings['right_content_lem_color'];?>;
	cursor: pointer;
	font-family: <?php echo $themeSettings['right_content_font_family'];?>;
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 12px;
	padding: 6px 0px;
	border-radius: 5px;
	border: 1px solid <?php echo $themeSettings['right_content_lem_border'];?>;
}

.cometchat_prependMessages:hover{
    color: <?php echo $themeSettings['right_header_background'];?>;
}

.cc_handwrite_image{
	max-height: 300px;
	max-width: 100%;
	width: auto !important;
	height: auto !important;
}

.cometchat_offline_overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 99999999;
	color: white;
	text-align: center;
	cursor: pointer;
	display: none;
}
.cometchat_offline_overlay h3{
	display: table-cell;
	vertical-align: middle;
	font-family: <?php echo $themeSettings['left_header_font_family']; ?>;
}

.cometchat_mobile_overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 99999999;
	color: white;
	text-align: center;
	cursor: pointer;
}
.cometchat_mobile_overlay p{
	padding:16px;
	font-family: <?php echo $themeSettings['left_header_font_family']; ?>;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.cometchat_noactivity{
	display: none;
	position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 120px;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    z-index: 1;
    color: <?php echo $themeSettings['left_header_background'] ?>;
    font-family: <?php echo $themeSettings['left_header_font_family'] ?>;
    font-size: <?php echo $themeSettings['left_header_font_size'] ?>;
}
.cometchat_noactivity h1,.cometchat_noactivity h3{
	margin: 0px;
	padding:5px 0px;
}
.cometchat_noactivity h1{
	height:30px;
	width: 100%;
  	text-overflow: ellipsis;
  	overflow: hidden;
  	white-space: nowrap;
}
.cometchat_noactivity h3{
	height:70px;
}

.cometchat_stickerImage {
	display: block;
}

@media all and (max-width: 1010px) {
	.cometchat_messagebox{
		padding-left:10px;
	}
	.cometchat_message_container{
		width: auto;
	}
	.cometchat_tabinputcontainer{
		width: auto;
	}
	.cometchat_chatboxmessage {
		margin: 12px 0px;
	}
	.cometchat_chatboxmessage{
		margin: 12px 60px 12px 40px;
		<?php if ($rtl):?>
		margin: 12px 40px 12px 60px;
		<?php endif;?>
	}
	.cometchat_chatboxmessage.cometchat_self{
		margin: 12px 60px 12px 110px;
		<?php if ($rtl):?>
		margin: 12px 110px 12px 60px;
		<?php endif;?>
	}
	.cometchat_chatboxMenuOptions{
		margin-right: 0px;
	}
	.cometchat_ts{
		width: 50px;
		line-height: 14px;
		padding-top: 8px;
	}
}
@media all and (max-width: 765px) {
	.cometchat_menuOption{
		margin: 0px;
		margin-top: 12px;
	}
	.cometchat_noactivity{
		width:300px;
		margin-left: 0px;
		height:300px;
	}
}
@media all and (max-width: 650px) {
	#cometchat_righttab {
		position: absolute;
		top: 0;
		margin: 0;
		z-index: 1001;
		border: 0;
		width: 100%;
	}
	#cometchat_lefttab{
		width: 100%;
	}
	.cometchat_search{
		width: 96%;

	}
	.cometchat_userlist .cometchat_userscontentname{
		max-width: 80%;
	}
	.cometchat_userdisplayname{
		max-width: 90%;
	}
	.cometchat_menuOption{
		margin: 8px;
		margin-top: 12px;
	}
	#cometchat_tooltip {
		bottom: 50px;
		top: auto;
	}
}

@media all and (max-width:950px) {
	.cometchat_menuOption{
		margin: 0px;
		margin-top: 12px;
	}
	#currentroom_left .cometchat_chatboxLeftDetails .cometchat_userscontentavatar{
		display: none;
	}
	.cometchat_chatroomdisplayname{
		margin-left:0px;
	}
	.cometchat_chatboxmessage:not(.cometchat_self){
		margin:12px 60px 12px 40px;
		<?php if($rtl):?>
		margin:12px 40px 12px 60px;
		<?php endif; ?>
	}
	#cometchat_optionsbutton_popup > .cometchat_optionstriangle{
		<?php echo $right; ?>: 8px;
	}
	#cometchat_optionsbutton_popup{
		padding: 8px;
	}
	#chatroomusers_popup{
		<?php echo $right; ?>: -60px;
	}
	#chatroomusers_popup > .cometchat_optionstriangle{
		<?php echo $right; ?>: 66px;
	}
	#cometchat_plugins,.cometchat_plugins{
		<?php echo $right; ?>: -30px;
	}
	#cometchat_plugins > .cometchat_optionstriangle,.cometchat_plugins  > .cometchat_optionstriangle{
		<?php echo $right; ?>:36px
	}
	.cometchat_chatboxmessage.cometchat_self{
		margin: 12px 60px 12px 40px;
		<?php if ($rtl):?>
		margin: 12px 40px 12px 60px;
		<?php endif;?>
	}
}