/*
 * CometChat
 * Copyright (c) 2014 Inscripts - support@cometchat.com | http://www.cometchat.com | http://www.inscripts.com
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html, body {
	background: <?php echo $themeSettings['tab_background'];?>;
	height: 100%;
	overflow: hidden;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.container_title {
	background-color: <?php echo $themeSettings['tab_title_background'];?> !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='<?php echo $themeSettings['tab_title_gradient_start'];?>', endColorstr='<?php echo $themeSettings['tab_title_gradient_end'];?>');
	background: -webkit-gradient(linear, left top, left bottom, from(<?php echo $themeSettings['tab_title_gradient_start'];?>), to(<?php echo $themeSettings['tab_title_gradient_end'];?>));
	background: -moz-linear-gradient(top, <?php echo $themeSettings['tab_title_gradient_start'];?>, <?php echo $themeSettings['tab_title_gradient_end'];?>);
	background: -ms-linear-gradient(top, <?php echo $themeSettings['tab_title_gradient_start'];?>, <?php echo $themeSettings['tab_title_gradient_end'];?>);
	background: -o-linear-gradient(top, <?php echo $themeSettings['tab_title_gradient_start'];?>, <?php echo $themeSettings['tab_title_gradient_end'];?>);
	border-left: 1px solid <?php echo $themeSettings['tab_title_border'];?>;
	border-right: 1px solid <?php echo $themeSettings['tab_title_border'];?>;
	border-top: 1px solid <?php echo $themeSettings['tab_title_border'];?>;
	color: <?php echo $themeSettings['tab_title_color'];?>;
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_title_font_size_large'];?>;
	padding:5px;
	font-weight:bold;
	padding-left:10px;
	padding-bottom:6px;
	text-shadow: 1px 1px 0 <?php echo $themeSettings['tab_title_text_background'];?>;
}

.container_body {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 310px !important;
	background-color: <?php echo $themeSettings['tab_background'];?>;
}

.cometchat_sticker_image{
	cursor: pointer;
	float: left;
	background-size: auto 100%;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	padding: 4px;
	margin: 6px;
}

.container_body.embed {
	border: 0px;
	padding: 0px !important;
}

.container_title.embed {
	display: none;
}

.tab {
	float: left;
	background: #EEEEEE;
	background-size: auto 90% !important;
	color: #333333;
	text-align: center;
	cursor: pointer;
	border-right: 1px solid #C8C8C8;
  	border-bottom: 1px solid #C8C8C8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 40px;
}

.tab_length6 {
	width: 9.09% !important;
}

.tab_length5 {
	width: 20%;
}

.tab h2 {
	line-height: 26px;
	font-family: "Lucida Grande",arial,sans-serif;
	font-size: 13px;
}

.tab:last-child {
	border-right: none;
}

.selected {
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.selected  h2 {
	background: white;
	font-weight: bold;
}

.stickers {
	display: none;
    <?php if($rtl) :?>
    padding: 5px 0 0 15px;
    <?php else :?>
	padding: 5px 0 0 5px;
    <?php endif;?>
    height: 100%;
    background: none !important;
}

.sticker_selected {
	display: block !important;
	background-color: #FFFFFF !important;
	border-bottom: 0;
}

.stickers div {
	cursor:pointer;
	margin: 3px;
	float: left;
}

#tabs_container {
	width: 100%;
	float: left;
}

.container_body {
	height: 100%;
	width: 100% !important;
	background: #FFFFFF;
}

.slimScrollDiv {
	float: left;
}

.bear {
	background: url(plugins/stickers/images/bear/bear_1.png) no-repeat center;
}

.geek {
	background: url(plugins/stickers/images/geek/geek_1.png) no-repeat center;
}

.gery {
	background: url(plugins/stickers/images/gery/gery_1.png) no-repeat center;
}

.happyghost {
	background: url(plugins/stickers/images/happyghost/happ_1.png) no-repeat center;
}

.littledyno {
	background: url(plugins/stickers/images/littledyno/litt_1.png) no-repeat center;
}

.momon {
	background: url(plugins/stickers/images/momon/momo_1.png) no-repeat center;
}

.monster {
	background: url(plugins/stickers/images/monster/mons_1.png) no-repeat center;
}

.penguin {
	background: url(plugins/stickers/images/penguin/peng_1.png) no-repeat center;
}

.pirate {
	background: url(plugins/stickers/images/pirate/pira_1.png) no-repeat center;
}

.skaterboy {
	background: url(plugins/stickers/images/skaterboy/skat_1.png) no-repeat center;
}

.vampire {
	background: url(plugins/stickers/images/vampire/vamp_1.png) no-repeat center;
}