/*------------------------------------*\
Flaunt JS Navigation
\*------------------------------------*/
.nav {display: inline-block;position: relative;}
.nav-list {text-align:left;}
.nav-item {float:left; *display:inline; zoom:1; position:relative; }
.nav-item a { display: block;color: #fff;} 
.nav-item-account{float:left; *display:inline; zoom:1; position:relative; margin-left:8px;} 
.nav-item-account a {display:block; color:#FFF; border-radius:3px; background:#151515;margin-left:5px;text-transform:uppercase;}
.nav-item:hover .nav-submenu {display:block;}

/* Navigation submenu */
.nav-submenu {display:none; position:absolute; left:0; width:180px; z-index:999; border-right:0px; text-transform:capitalize; }
.nav-submenu-item a {background:#e2e2e2; border-bottom:1px solid #d0d0cf; margin: 0 !important; display:block; color:#4f4f4f; border-right:0px !important;}
.nav-submenu-item a:hover {background:#1e609d; text-decoration: none; color:#fff;}

/* Mobile navigation */
.nav-mobile {display:none; cursor:pointer; position:absolute; right:0; background:url(../images/nav_image.png) no-repeat center center; background-size:25px; height:40px; width:40px;border: 2px solid #fff; border-radius: 5px; content: ""; color: #fff; top:-13px;}

/* Mobile navigation, clickable area for revealing <ul> */
.nav-click { border-left: medium none;
cursor: pointer;
display: block !important;
height: 39px;
position: absolute;
width: 100%;}

/*------------------------------------*\
Media Queries
\*------------------------------------*/

@media only screen and ( max-width:1199px ) {
.menus li a{font-size: 15px;}
.menus li{padding: 0 10px;}
}

@media only screen and ( max-width:980px ) {
.nav-mobile{top:-82px;}
.nav-list {top:-60px;right: 0; }
}

@media only screen and (min-width: 320px) and (max-width:981px) {/*768    640*/
.job-btn {margin-right: 50px;margin-top: 16px;}
.nav-item-account{float:none;}
.nav-item-account a {border-right:0px; display:block; color:#FFF; border-bottom:1px solid #3f3f3f; background:#020202; margin:0px; border-radius:0px;}	
.nav-item{padding:0 !important; width: 100%;}
.nav-item a{border-right:0px; display:block; color:#333!important; border-bottom:1px solid #ccc; background:rgba(255, 255, 255,1); padding: 0 15px; }
.nav-item > a:hover, .nav-item > a.act{background:#4c4c4c ; color:#fff!important; border-radius:0px;}
.nav-submenu-item a{color:#FFF; text-transform:capitalize; background:#151515; border-bottom:1px solid #000;}
.nav-submenu-item a:hover{background:#3c3c3c; color:#FFF; text-transform:capitalize;}
.nav-mobile {display:block;top: -100px; }
.nav {width:100%; top:30px;}
.nav-list {display:none;position: absolute;top:-45px;line-height: 40px;text-align: left;width: 100%;z-index: 9999; border: 1px solid #ccc;border-bottom:none;}
.nav-item {width:100%; float:none;}
.nav-item > a {margin: 0;}
.nav-click {display:block;}
.nav-mobile-open {border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;}
.nav-item:hover .nav-submenu {display:none;}
.nav-submenu {position:static;  width:100%;}
.menus li{margin-left: 0;}
/*  .nav-list{ top:78px;}*/
}
@media only screen and ( max-width:767px ) {
.nav-mobile{top:-105px;}
.nav-list {top:-45px;right: 0; }
}