@charset "utf-8";
/* CSS Document */
a,a:hover {text-decoration:none;}
ul,ol {list-style:none;}
.content {text-align:left; margin:25px 0;}
.content-text {margin:0 0 15px;}

/*------------------------------------*\
Flaunt JS Navigation
\*------------------------------------*/
.nav {/*float: right;*/position:relative; display:inline-block; font-size:15px; float: right;width: 100%;
/* background: #126e9d; height: 50px;*/}
.nav-list { text-align:left;margin-bottom: 0; float: left;}
.nav-item {float:left; *display:inline; zoom:1; position:relative;/*background:#126e9d;*/ }
.nav-item a {display:block; color:#fff; padding:14px 41px;font-size: 15px; text-transform: uppercase;}
.nav-item > img {  width: 100%; }
.nav-item a.last{background-image:none;}
.nav-item > a:hover,.nav-item > a.act{ color:#fff; background: #8DC73D;    cursor: pointer;}
.nav-item-account{float:left; *display:inline; zoom:1; position:relative; margin-left:8px;} 
.nav-item-account a {display:block; color:#FFF; padding:8px 21px; border-radius:3px; background:#f47920;	margin-left:5px;	text-transform:uppercase;}
.nav-item-account > a:hover,.nav-item-account > a.act{color:#ce3340; background:#FFF;}
/*.nav-item:hover .nav-submenu {display:block;}*/
.menu_full { z-index: 9;background: #126e9d; min-height: 50px; position: relative; font-family: "ubuntubold",sans-serif;
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26); -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26); -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
}


/* Navigation submenu */

.nav-submenu {display:none; position:absolute; left:0; width:180px; z-index:999; border-right:0px; text-transform:capitalize; font-size:14px;}
.nav-submenu-item a {background: #126e9d;border-bottom: 1px solid #003c00;border-right: 0 none !important;color: #fff;display:block;font-size: 13px;padding: 10px 10px;text-transform: uppercase;}
.nav-submenu-item a:hover {color:#a39d02;}

/* Mobile navigation */
.nav-mobile {display:none; cursor:pointer; position:absolute; top:33px; right:0; background:url(../../images/front/nav_image.png) no-repeat center center; background-size:24px; height:35px; width:38px;border:1px solid #8DC73D;border-radius: 5px;}

/*.inner-menus.nav-mobile { cursor:pointer; position:absolute; top:28px; right:0; background:url(../../images/front/nav_image.png) no-repeat center center; background-size:24px; height:35px; width:38px;border:none;border-radius: 5px;border:1px solid #ffffff;}*/

/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {position:absolute; top:0px; right:0px; display:none; border-left:none; height:37px; width:55px; cursor:pointer;z-index: 99;}
.nav-click i{background:url(../../images/arrow_ftr-down.png) no-repeat; width:40px; height:36px; margin-left:0px; display:block; background-position: right center;}
.nav-item a.mlogin{ display:none;}
.sticky .nav-mobile{background: url(../images/nav_image_2.png) no-repeat center center !important; border-color: #ffffff;}
.sticky .main-menu-sticky-hide{display: none;}
.menu-sticky-block-container{display: none;}
.sticky .menu-sticky-block-container{display: inline-block; vertical-align: text-top;}
.sticky .sticky-logo-block{margin-right: 15px;}
#review .modal-dialog, #error_booking .modal-dialog{margin-top: 84px;}

/*------------------------------------*\
Media Queries
\*------------------------------------*/

/* changes done by yogesh 09.12.2016 */
.inner-menus .nav-submenu .nav-submenu-item{display: block !important;}
.inner-menus .nav-submenu .nav-submenu-item a{text-transform: none !important; padding: 8px 16px;}
.inner-menus .nav-submenu .nav-submenu-item a:hover{color: #8dc73d;}
.inner-menus .nav-submenu .nav-submenu-item a.sub-acti{color: #8dc73d;}

@media all and (max-width: 1199px){
.nav-item a{padding: 14px 27px;}
}
@media all and (max-width: 991px){
.nav-item a{padding: 14px 19px;}
}

@media all and (max-width: 980px){
.nav-item{margin-left:0px;}
/*	.nav-item a{padding:8px 16px;}	*/
.nav-item-account{margin-left:0px;}
.nav-item-account a {padding:5px 16px; border-radius:3px; margin-left:10px;}
.nav {margin-bottom: 10px;padding: 43px 0 0;}
}

@media all and (max-width: 736px){
.nav-mobile {  display: block;  /*margin-top: -74px!important;*/}
.nav {width:100%; padding:13px 0 0; margin-bottom: 0px!important;}
/*  .nav-list { top: 0!important;}*/
}
@media only screen and (min-width: 320px) and (max-width: 767px) {/*768    640*/

/*.inner-menus.nav{ height: inherit;}*/

.currency_area{display:none;}
.nav-item a.mlogin{ display:block;}
.nav-mobile{/*top:-9px;*/}
.nav-item-account{float:none;}
.nav-item-account a {border-right:0px; display:block; color:#FFF; border-bottom:1px dotted #3f3f3f; background:#020202; padding:15px; margin:0px; border-radius:0px;}	
.nav {background: transparent;}
.nav-item a{border-right:0px; display:block; color:#FFF; width: 100%;}
.nav-item > a.act{color:#ffffff; border-radius:0px; background:#8DC73D;border-bottom: 1px solid #8DC73D;}
.nav-item:hover{background:#8DC73D;}    
.nav-submenu-item a{color:#FFF; text-transform:capitalize; background:#034a7b; border-bottom:1px solid #033d6e;}
.nav-submenu-item a:hover{color:#a39d02; text-transform:capitalize;}
.nav-mobile {display:block; margin-top:-26px;}
.nav {width:100%; padding:13px 0 0; margin-bottom:0px;}
.nav-list {display:none; position: absolute; width: 100%; z-index:10;}
.nav-item {width:100%; float:none;border-bottom:1px solid #0a6796 ; background:#126e9d ;}
.nav-item > a {padding:8px 10px;}
.nav-item a.sub-menu-link{display: inline-block;width: auto;}    
.nav-item a.sub-menu-link:hover{background:transparent}    
.nav-click {display:block;}
.nav-mobile-open {border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;}
.nav-item:hover .nav-submenu {display:none;}
.nav-submenu {position:static;  width:100%;}    
.nav-item > img { display: none;}    
.nav-list {top: 47px;}    

/*  .hidden-lg.wether {  display: none;}*/
.climate{display: block;  float: left; margin: 0 auto; max-width: 55%; text-align: center; width: 100%;}
.climt2 { display: inline-block; float: none; max-width: 81px;     padding-top: 0;}
.climt1 { float: none;  border-right: 2px solid #126e9d ; display: inline-block;}

}

@media all and (max-width: 1200px){
.nav, .inner-menus.nav{padding: 0; height: auto;}
/*.nav-mobile, .inner-menus.nav-mobile{top: -21px;}*/
/*.nav-list{top: 0px;}*/
.header .account{margin-right: 60px;}
.menu_full{min-height: inherit; /*background: #ffffff;*/}
/*	body{overflow: hidden;}*/
.inner-menus.nav-mobile{border-color: #41b7b8;}
.sticky.inner-menus.nav-mobile{border-color: #ffffff;}
.sticky .main-menu-sticky-hide{display: block;}
.menu-sticky-block-container{display: none;}
.sticky .menu-sticky-block-container{display: none;}
.sticky .change-colo-block{display: none;}
.sticky .sticky-hide-block{display: block;}

}

@media all and (max-width: 640px){
/* .nav-mobile{ margin-top: -66px;}*/
/*  .nav-list {top: 7px;}*/
}


@media all and (max-width: 667px){
.nav-mobile {display: inline-block;/* margin-top:-73px;*/}


}