/*
* CometChat
* Copyright (c) 2014 Inscripts - support@cometchat.com | http://www.cometchat.com | http://www.inscripts.com
*/

<?php

if($color == 'facebook' || $color == 'hangout' || $color == 'standard'){
	$themeSettings['bar_background'] = $themeSettings['tab_title_background'];
	if(!isset($backgroundOpacity)){
		$backgroundOpacity = '0.9';
	}
}
?>

html {
	overflow-y: --moz-scrollbars-vertical;
}

body {
	padding-bottom: 30px;
}

#cometchat * {
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-o-box-sizing: content-box !important;
}

#cometchat_hidden * {
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-o-box-sizing: content-box !important;
}

#cometchat *:after, #cometchat *:before {
	content: none !important;
}

#cometchat {
	font-size: normal;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	z-index: 100000;
	direction: <?php echo $dir;?>;
}

.CCReceiveError{
	display: none !important;
}

#cometchat_base, #cometchat_base *, .cometchat_chatboxmessage {
	overflow: visible;
}

#cometchat_base {
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-top: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-bottom: 1px solid  <?php echo $themeSettings['bar_border'];?>;
	bottom: 0px;
	display: block;
	font-family: <?php echo $themeSettings['bar_font_family'];?>;
	font-size: <?php echo $themeSettings['bar_font_size'];?>;
	height: 30px;
	left: 15px;
	position: fixed;
	z-index: 200001;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: <?php echo $themeSettings['bar_background'];?>;
	background-color: <?php echo 'rgba('.(hex2rgb($themeSettings['bar_background'])).','.$backgroundOpacity.')';?>;

}

#cometchat_chatboxes {
	float: right;
	height: 30px;
	overflow: hidden;
	padding-right: 1px;
}

#cometchat_chatboxes_wide {
	height: 30px;
	width: 0px;
	overflow: hidden;
}

#cometchat_chatbox_left {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 3px -386px;
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?>;
	color: <?php echo $themeSettings['bar_color_disabled'];?>;
	cursor: pointer;
	float: right;
	font-weight: bold;
	height: 21px;
	width: 10px;
	padding-left: 11px;
	padding-top: 9px;
}

#cometchat_chatbox_right {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 11px -608px;
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?>;
	color: <?php echo $themeSettings['bar_color_disabled'];?>;
	cursor: pointer;
	float: right;
	font-weight: bold;
	height: 20px;
	width: 17px;
	padding-left: 3px;
	padding-top: 10px;
}

.cometchat_chatbox_right_last {
	background-position: 11px -608px !important;
	color: <?php echo $themeSettings['bar_color_disabled'];?> !important;
	cursor: default !important;
}

.cometchat_chatbox_left_last {
	background-position: 3px -386px !important;
	color: <?php echo $themeSettings['bar_color_disabled'];?> !important;
	cursor: default !important;
}

.cometchat_chatbox_lr {
	display: none !important;
}

.cometchat_chatbox_lr_mouseover {
	background-color: <?php echo $themeSettings['tab_background'];?> !important;
	background-position: 3px -348px !important;
	color: <?php echo $themeSettings['tab_color'];?> !important;
}

#cometchat_chatbox_right.cometchat_chatbox_lr_mouseover{
	background-position: 11px -569px !important;
}

/* Add display:none for below to hide options and whos online tab */

#cometchat_optionsbutton {
	width: 25px;
}

#cometchat_userstab {
	padding-left: 14px;
	width: 170px;
	position: relative;
}

.cometchat_userstabclick {
	background-position: 5px 3px !important;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;

	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
}

.cometchat_closebox {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 4px -973px;
	float: <?php echo $right;?>;
	height: 12px;
	width: 20px;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	text-indent: -999999px;
}

.cometchat_maxwindow {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 1px  -1175px;
	float: <?php echo $right;?>;
	height: 15px;
	width: 15px;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.cometchat_popwindow {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 1px -1112px;
	float: <?php echo $right;?>;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	height: 12px;
	width: 16px;
}

.cometchat_closebox:hover, .cometchat_maxwindow:hover , .cometchat_popwindow:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.cometchat_closebox_bottom {
	background-position: 1px -1010px;
	float: <?php echo $right;?>;
	height: 12px;
	width: 16px;
}

.cometchat_closebox_bottom_click {
	background-position: 0px -1010px !important;
}

.cometchat_closebox_bottomhover {
	background-position: 1px -1047px !important;
}

.cometchat_chatboxmouseoverclose {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.cometchat_name {
	cursor: default;
	color: <?php echo $themeSettings['tab_title_color'];?>;
	float: <?php echo $left;?>;
	font-family: inherit;
	font-size: inherit;
}

#cometchat_chatbox_buttons {
	float: right;
}

.cometchat_tabmouseover {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: <?php echo $themeSettings['tab_color'];?> !important;
	background-color: <?php echo $themeSettings['tab_background'];?> !important;
}

.cometchat_trayicon.cometchat_tabmouseover{
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?> !important;
	border-right: 1px solid <?php echo $themeSettings['bar_border'];?> !important;
	border-bottom: 1px solid <?php echo $themeSettings['bar_border'];?> !important;
	position: relative;
}

.cometchat_trayicon.cometchat_tabmouseover:first-of-type{
	border-left: 1px solid transparent !important;
	border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}
.cometchat_tabmouseovertext {
	text-decoration: underline;
}

.cometchat_statusinputs {
	border-top: 1px solid <?php echo $themeSettings['tab_border_light'];?>;
	margin-top: 10px;
	padding-left: 5px;
	padding-top: 8px;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.cometchat_tab {
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?>;
	color: <?php echo $themeSettings['bar_text_background'];?>;
	cursor: pointer;
	float: right;
	font-weight: bold;
	height: 22px;
	line-height: 1.2em;
	padding-left: 6px;
	padding-top: 8px;
	font-family: <?php echo $themeSettings['bar_font_family'];?>;
	font-size: <?php echo $themeSettings['bar_font_size'];?>;
	width: 145px;
}
#cometchat_chatboxes_wide .cometchat_tab{
	padding-left: 6px;
}

#cometchat_chatboxes_wide .cometchat_tabmouseover.cometchat_tab:first-of-type, #cometchat_chatboxes_wide .cometchat_tabclick.cometchat_usertabclick.cometchat_tab:first-of-type{
	padding-left: 5px;
	border-right: 1px solid <?php echo $themeSettings['bar_border'];?>;
}

.cometchat_tabclick {
	background: <?php echo $themeSettings['tab_background'];?> !important;
	border-top: 0px !important;
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-bottom: 1px solid <?php echo $themeSettings['bar_border'];?> !important;
	color: <?php echo $themeSettings['tab_color'];?> !important;
	text-decoration: underline;
}
#cometchat_optionsbutton{

}
#cometchat_optionsbutton.cometchat_tabclick {
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
}

.cometchat_usertabclick {
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;

	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
}

.cometchat_tabpopup {
	font-family: <?php echo $themeSettings['tab_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_font_size'];?>;
	position: fixed;
	width: <?php echo $chatboxWidth.'px';?>;
	z-index: 100001;
	bottom: 31px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.cometchat_chatbox_border_bottom{
	height: 1px;
    width: 148px;
    position: absolute;
    right: 1px;
    bottom: 0px;
    background: <?php echo $themeSettings['tab_background'];?> ;
}

#cometchat_userstab_popup {
	width: 248px;
}

.cometchat_userstab_bottomborder{
	height: 1px;
    width: 184px;
    position: absolute;
    left: 0px;
    top: -1px;
    background: <?php echo $themeSettings['tab_background'];?> ;
    display: none;
}

.cometchat_userstabclick .cometchat_userstab_bottomborder{
	display: block;
}

#cometchat_optionsbutton_popup {
	width: 251px;
	z-index: 300001;
}

.cometchat_optionspopup_bottomborder{
	height: 2px;
    width: 31px;
    position: absolute;
    right: 32px;
    bottom: 0px;
    background: <?php echo $themeSettings['tab_background'];?> ;
}

.cometchat_trayicon_bordertop{
	display: none;
}

.cometchat_trayclick .cometchat_trayicon_bordertop{
	width: 100%;
    height: 1px;
    background-color: <?php echo $themeSettings['tab_background'];?> ;
    position: absolute;
    top: -1px;
    left: 0px;
    display: block;
}


#cometchat_auth_popup {
	width: 224px;
	z-index: 99999;
}

img.auth_options {
	display: block;
	height: 36px;
	margin: 10px auto;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	cursor: pointer;
	position: relative;
}

img.auth_options:hover {
	left: 1px;
	top: -1px;
	-webkit-box-shadow: 0px 2px 4px #666666;
	-moz-box-shadow: 0px 2px 4px #666666;
	box-shadow: 0px 2px 4px #666666;
}

img.auth_options:active {
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 0px 0px 1px #666666;
	-moz-box-shadow: 0px 0px 1px #666666;
	box-shadow: 0px 0px 1px #666666;
}

.social_options {
	width: 100%;
	position: relative;
	display: table;
	height: 100%;
	background: #FFFFFF;
	z-index: 10000000;
}

.social_login {
	display: table-cell;
	vertical-align: middle;
}

.cometchat_tabopen {
	display: block !important;
}

.cometchat_tabtitle {
	background-color: <?php echo $themeSettings['tab_title_background'];?> !important;
	background-color: <?php echo 'rgba('.(hex2rgb($themeSettings['tab_title_background'])).','.$backgroundOpacity.')';?> !important;
	border-left: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	border-right: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	border-top: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	color: <?php echo $themeSettings['tab_title_color'];?>;
	cursor: pointer;
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_title_font_size'];?>;
	padding:9px 0px 7px 5px;
	padding-<?php echo $right;?>: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 99999;
}

.cometchat_userstabtitle {
	background-color: <?php echo $themeSettings['tab_title_background'];?> !important;
	background-color: <?php echo 'rgba('.(hex2rgb($themeSettings['tab_title_background'])).','.$backgroundOpacity.')';?> !important;
	border-left: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	border-right: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	border-top: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	color: <?php echo $themeSettings['tab_title_color'];?>;
	cursor: pointer;
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_title_font_size'];?>;
	font-weight: bold;
	padding: 8px 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.cometchat_userstabtitle div {
	color: <?php echo $themeSettings['tab_title_color'];?>;
}

.cometchat_userstabtitletext {
	float: <?php echo $left;?>;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.cometchat_tabsubtitle {
	background-color: <?php echo $themeSettings['tab_title_backgroud_light'];?>;
	border-bottom: 1px solid <?php echo $themeSettings['tab_border_light'];?>;
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-right: 1px solid <?php echo $themeSettings['bar_border'];?>;
	color: <?php echo $themeSettings['tab_sub_color'];?>;
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_font_size_small'];?>;
	line-height: 1.3em !important;
	padding: 7px;
}

.cometchat_plugins {
	background-color: <?php echo $themeSettings['tab_title_background'];?> ;
	background-color: <?php echo 'rgba('.(hex2rgb($themeSettings['tab_title_background'])).','.$backgroundOpacity.')';?>;
	border-left: 1px solid #424D5D;
  	border-right: 1px solid #424D5D;
	padding: 4px;
	padding-top: 0px;
	overflow: hidden;
	display: none;
}

.cometchat_pluginsicon {
	background: url(themes/<?php echo $theme;?>/images/cometchat_plugin_icon.png) no-repeat top left;
	cursor: pointer;
	margin: 4px 7px;
	margin-<?php echo $right;?>: 7px;
	float: <?php echo $left;?>;
}

.cometchat_pluginsicon:hover {
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.cometchat_pluginsicon_divider {
	margin-<?php echo $right;?>: 5px;
}

.cometchat_tabcontent {
	background-color: <?php echo $themeSettings['tab_background'];?> ;
	background-position: left bottom;
	background-repeat: no-repeat;
	border: 1px solid <?php echo $themeSettings['bar_border'];?>;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: <?php echo $themeSettings['tab_color'];?>;
	overflow: hidden;
	padding-bottom: 1px;
	font-family: inherit;
	font-size: inherit;
}

.cometchat_tabpopup .cometchat_tabcontent{
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	border-top: 0px;
}

#cometchat_userstab_popup .cometchat_tabcontent{
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#cometchat_optionsbutton_popup .cometchat_tabcontent {
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}


.cometchat_tabcontenttext {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	white-space: pre;
	white-space: -hp-pre-wrap;
	white-space: pre-line;
	height: <?php echo $chatboxHeight.'px';?>;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 5px;
	padding-<?php echo $right;?>: 8px;
	color: inherit;
	font-family: <?php echo $themeSettings['tab_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_font_size'];?>;
	text-align: <?php echo $left;?>;
	width: <?php echo ($chatboxWidth-15).'px';?> !important;
}

#cometchat_userscontent {
	height: 278px;
	line-height: 100% !important;
	overflow-x: hidden;
	overflow-y: auto;
}

.cometchat_tabinputcontainer{
	overflow: hidden;
	padding: 10px;
	padding-top: 0px;
	margin: 0px auto;
}

.cometchat_tabcontentinput {
	border: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	outline: none;
	padding: 6px 5px 5px 4px;
	overflow: hidden;
	display: block;
	background: #FFFFFF;
	position: relative;
}

.cometchat_tabcontentsubmit {
	background: url(themes/<?php echo $theme;?>/images/submiticon.png) no-repeat 5px center;
	position: absolute;
	top: 3px;
	right: 6px;
	height: 9px;
	width: 9px;
	cursor: pointer;
	margin-left: 4px;
	margin-top: 4px;
	border: 1px solid #FFFFFF;
	background-size: 65%;
}

.cometchat_sendicon {
	background-color: <?php echo $themeSettings['tab_title_background'];?>;
	margin: 0px;
	padding: 5px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.cometchat_tabcontentinput textarea.cometchat_textarea {
	display:block;
	width: 100%;
	border: none !important;
	box-shadow: none !important;
	font-family: <?php echo $themeSettings['tab_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_font_size'];?>;
	height: 17px;
	outline: none;
	overflow: hidden;
	padding: 0px;
	resize: none;
	line-height: normal !important;
}

.cometchat_tabcontentinput textarea.cometchat_textarea:focus {
	border: none !important;
}

#cometchat_userslist_jabber .cometchat_userscontentdot{
	display: none;
}

#cometchat_userslist_jabber .cometchat_userscontentname{
	line-height: 34px;
}

.cometchat_tooltip_content {
	background-color: <?php echo $themeSettings['tooltip_background'];?>;
	color: <?php echo $themeSettings['tooltip_color'];?>;
	font-family: <?php echo $themeSettings['tooltip_font_family'];?>;
	font-size: <?php echo $themeSettings['tooltip_font_size'];?>;
	padding: 5px;
	white-space: nowrap;
	word-wrap: break-word;
}

.cometchat_userlist {
	cursor: pointer;
	height: 20px;
	line-height: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 40px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}

.cometchat_userlist:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.cometchat_userscontentname {
	padding: 2px 0px;
	margin-left: 15px;
	font-size: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 16px;
	max-width: 220px;
}

.cometchat_userscontentdot {
	background-position: 0px 2px;
	background-repeat: no-repeat;
	float: <?php echo $right;?>;
	height: 8px;
	margin-top: 2px;
	width: 8px;
	position: absolute;
	bottom: 2px;
	<?php echo $right;?>: 2px;
	border-radius: 50%;
	border: 1px solid #FFFFFF;
}

.cometchat_available {
	background: url('<?php echo BASE_URL;?>/themes/<?php echo $theme;?>/images/cometchat.png') no-repeat top left;
	background-position: 0 -129px !important;
}

.cometchat_mobile {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-style: solid;
	border-width: 2px 1px 4px;
	height: 8px !important;
	margin-<?php echo $left;?>: 7px;
	margin-top: 3px;
	width: 6px !important;
}

.cometchat_mobile_available {
	border-color: #97c846;
}

.cometchat_mobile_away {
	border-color: #EAAB5B;
}

.cometchat_mobile_busy {
	border-color: #FF1828;
}

.cometchat_mobile_offline {
	border-color: #545454;
}

#cometchat_chatboxes_wide .cometchat_mobile {
	margin-top: 1px; !important;
}

.cometchat_dot {
	border: 1px solid <?php echo $themeSettings['bar_background'];?>;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	height: 0;
	<?php echo $left;?>: 2px;
	top: 9px;
	position: relative;
	width: 0px;
}

.cometchat_tab.cometchat_tabmouseover .cometchat_dot{
	border: 1px solid #FFFFFF;
}

.cometchat_tabclick .cometchat_dot{
	border: 1px solid #FFFFFF;
}

.cometchat_userlist .cometchat_dot{
	border: 1px solid #FFFFFF;
}

.cometchat_away {
	background: url('<?php echo BASE_URL;?>themes/<?php echo $theme;?>/images/cometchat.png') no-repeat top left;
	background-position: 0 -175px !important;
}

.cometchat_busy {
	background: url('<?php echo BASE_URL;?>themes/<?php echo $theme;?>/images/cometchat.png') no-repeat top left;
	background-position: 0 -221px !important;
}

.cometchat_offline {
	background: url('<?php echo BASE_URL;?>themes/<?php echo $theme;?>/images/cometchat.png') no-repeat top left;
	background-position: 0 -1088px !important;
}

#cometchat_userslist .cometchat_available {
	background: #97c846;
}

#cometchat_userslist .cometchat_away {
	background: #EAAB5B;
}

#cometchat_userslist .cometchat_busy {
	background: #FF1828;
}

#cometchat_userslist .cometchat_invisible {
	background: #545454;
}

#cometchat_userslist .cometchat_offline {
	background: #545454;
}

#cometchat_userslist .cometchat_mobile {
	border-radius: 2px;
	border-style: solid;
	border-width: 2px 1px 4px;
	height: 8px !important;
	width: 6px !important;
	background: white;
}

#cometchat_userslist .cometchat_mobile_available {
	border-color: #97c846;
}

#cometchat_userslist .cometchat_mobile_away {
	border-color: #EAAB5B;
}

#cometchat_userslist .cometchat_mobile_busy {
	border-color: #FF1828;
}

#cometchat_userslist .cometchat_mobile_offline {
	border-color: #545454;
}

#cometchat_tooltip {
	background-image: url(themes/<?php echo $theme;?>/images/pointer.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	bottom: 29px;
	display: none;
	padding-bottom: 4px;
	position: fixed;
	z-index: 900001;
}

.cometchat_tooltip_left {
	background-position: left bottom !important;
}

.cometchat_closebox_bottom_status {
	background-position: 0 -1px;
	background-repeat: no-repeat;
	float: <?php echo $left;?>;
	height: 16px;
	width: 16px;
}

.cometchat_tabalert {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0 -532px;
	background-repeat: no-repeat;
	background-size: auto auto;
	color: #ffffff;
	font-size: 8px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	position: absolute;
	text-align: center;
	width: 16px;
	text-shadow: none;
	top: -11px !important;
}


.cometchat_tabalertlr {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0 -537px;
	color: #ffffff;
	font-size: 8px;
	height: 16px;
	padding-top: 1px;
	position: absolute;
	text-align: center;
	width: 16px;
}

.cometchat_chatboxmessage {
	margin-<?php echo $left;?>: 20px;
	margin-top: 10px;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	word-break: break-word;
	<?php if ($rtl):?>
	float: right;
	width: 100%;
	<?php endif;?>
	position: relative;
}

.cometchat_chatboxmessagefrom {
	font-weight: bold;
	<?php if (!$rtl):?>
	margin-left: -1em;
	<?php else: ?>
	float: right;
	<?php endif;?>
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

textarea.cometchat_statustextarea {
	border: 1px solid <?php echo $themeSettings['tab_border_light'];?>;
	color: <?php echo $themeSettings['tab_color'];?>;
	background: <?php echo $themeSettings['tab_background'];?>;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	height: 42px;
	margin-bottom: 6px;
	margin-top: 7px;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px;
	resize: none;
	width: 215px;
}

.cometchat_statusmessagecount {
	display: none;
  	float: <?php echo $right;?>;
  	color: <?php echo $themeSettings['tab_border_light'];?>;
}

.cometchat_search {
	border: 1px solid <?php echo $themeSettings['tab_border_light'];?> !important;
	color: <?php echo $themeSettings['tab_color'];?> !important;
	background: <?php echo $themeSettings['tab_background'];?> !important;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px !important;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px;
	height: auto !important;
	width: 95%;
}

.cometchat_search_light {
	color: <?php echo $themeSettings['tab_color_self'];?> !important;
}

.cometchat_optionsstatus {
	cursor: pointer;
	float: <?php echo $left;?>;
	padding-<?php echo $left;?>: 6px;
	padding-top: 1px;
	width: 76px;
}

.cometchat_optionsstatus2 {
	float: <?php echo $left;?>;
}

.cometchat_tabsubtitle a {
	color: <?php echo $themeSettings['tab_sub_color'];?> !important;
}

.cometchat_tabcontent a {
	color: <?php echo $themeSettings['tab_link_color'];?> !important;
}

.cometchat_user_invisible {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -890px !important;
	height: 16px;
	width: 16px;
}

#cometchat_optionsbutton_popup .invisible {
	display: block !important;
	visibility: visible !important;
}
.cometchat_user_available {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -752px !important;
	height: 16px;
	width: 16px;
	float: <?php echo $left;?>;
}

#cometchat_userstab_icon {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -753px;
	float: <?php echo $left;?>;
	height: 16px;
	padding-right: 5px;
	width: 16px;
}

.cometchat_user_invisible2 {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -891px !important;
}

.cometchat_user_offline2 {
    background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
    background-position: 0px -891px !important;
}

.cometchat_user_available2 {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -753px !important;
}

.cometchat_user_busy2 {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -799px !important;
}

.cometchat_user_away2 {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -845px !important;
}

.cometchat_optionsimages {
	display: block;
	height: 16px;
	width: 16px;
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -324px !important;
	float: left;
}

#cometchat_optionsbutton:hover .cometchat_optionsimages {
	background-position: 0px -305px !important;
}

#cometchat_optionsbutton.cometchat_tabclick .cometchat_optionsimages {
	background-position: 0px -305px !important;
}

.cometchat_optionsimages_click {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 10px -310px !important;
}

.cometchat_optionsimages_exclamation {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 8px -259px !important;
}

.cometchat_optionsimages_ccauth {
    background: url(themes/lite/images/login-white.png) no-repeat top left !important;
}

div#cometchat_optionsbutton.cometchat_tabmouseover .cometchat_optionsimages_ccauth {
	background: url(themes/lite/images/login.png) no-repeat top left !important;
}

div#cometchat_optionsbutton.cometchat_tabclick .cometchat_optionsimages_ccauth {
	background: url(themes/lite/images/login.png) no-repeat top left !important;
}

#cometchat_base #cometchat_trayicons{
    position: absolute;
    left:0px;
}

.cometchat_trayicon {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	cursor: pointer;
	float: left;
	height: 22px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
}
.cometchat_trayicon:nth-of-type(1) {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}
.cometchat_smiley {
	vertical-align: -6px;
	display:inline-block;
	height: 24px;
	width: 24px;
}

.cometchat_traypopup {
	font-family: <?php echo $themeSettings['tab_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_font_size'];?>;
	position: fixed;
	z-index: 100001;
	bottom: 31px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.cometchat_traytitle {
	background-color: <?php echo $themeSettings['tab_title_background'];?> !important;
	background-color: <?php echo 'rgba('.(hex2rgb($themeSettings['tab_title_background'])).','.$backgroundOpacity.')';?> !important;
	border-left: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	border-right: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	border-top: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	color: <?php echo $themeSettings['tab_title_color'];?>;
	font-family: <?php echo $themeSettings['tab_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_title_font_size'];?>;
	font-weight: bold;
	padding:7px 5px;
	padding-<?php echo $right;?>: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.cometchat_traycontent {
	background-color: <?php echo $themeSettings['tab_background'];?>;
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-right: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-bottom: 1px solid <?php echo $themeSettings['bar_border'];?>;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: <?php echo $themeSettings['tab_color'];?>;
	overflow-x: hidden;
	overflow-y: auto;
}

.cometchat_traycontenttext {
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0px;
	position: relative;
}

.cometchat_trayclick {
	background-color: <?php echo $themeSettings['tab_background'];?> !important;
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?> !important;
	border-right: 1px solid <?php echo $themeSettings['bar_border'];?> !important;
	margin-left: 0px;
	position: relative;
	text-decoration: underline;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
}

.cometchat_traytitle .cometchat_minimizebox {
	margin-right: 0px;
}

.cometchat_userstabtitle .cometchat_minimizebox {
	margin-right: 3px;
}

.cometchat_minimizebox {
	cursor: pointer;
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 5px -463px;
	float: <?php echo $right;?>;
	height: 12px;
	width: 21px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.cometchat_plugins_button {
	cursor: pointer;
	background: url(themes/<?php echo $theme;?>/images/pluginsicon.png) no-repeat;
  	background-size: 12px 12px;
  	background-position: center;
  	float: <?php echo $right;?>;
  	height: 14px;
  	width: 24px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.cometchat_pluginsIcon{
	height: 12px;
}
#cometchat_authlogout{
    cursor: pointer;
    background: url(themes/<?php echo $theme;?>/images/logout.png) no-repeat top left;
    float: <?php echo $right;?>;
    height: 15px;
    width: 16px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.cometchat_popout {
	cursor: pointer;
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 1px -1111px;
	float: <?php echo $right;?>;
	height: 16px;
	width: 16px;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.cometchat_plugins_button:hover, .cometchat_popout:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.cometchat_minimizebox:hover, .cometchat_popout:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.cometchat_chatboxtraytitlemouseover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.cometchat_star {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 4px -1068px;
	height: 16px;
	width: 16px;
}

.cometchat_star_empty {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0 -1150px;
	height: 16px;
	width: 16px;
}

.cometchat_star_half {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0 -1196px;
	height: 16px;
	width: 16px;
}

.cometchat_name a, .cometchat_name a:link, .cometchat_name a:visited {
	color: <?php echo $themeSettings['tab_title_color'];?>;
	float: <?php echo $left;?>;
	color: <?php echo $themeSettings['tab_title_color'];?>;
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_title_font_size'];?>;
	font-weight: bold;
	text-decoration: underline;
}

.cometchat_name a:hover {
	color: <?php echo $themeSettings['tab_title_color'];?>;
	text-decoration: none;
}

.cometchat_avatar {
	border: 1px solid <?php echo $themeSettings['tab_border_light'];?>;
	height: 28px;
}

.cometchat_avatarbox {
	float: <?php echo $left;?>;
	padding-<?php echo $right;?>: 5px;
}

.cometchat_ts {
	color: <?php echo $themeSettings['tab_sub_color'];?>;
	cursor: default;
	display: none;
	font-size: 10px;
	padding-left: 5px;
	padding-top: 2px;
	<?php if ($rtl):?>
	float: left;
	<?php endif;?>
}

.cometchat_ts:hover {
	color: <?php echo $themeSettings['tab_color_self'];?>;
	cursor: default;
	font-size: 10px;
	padding-left: 5px;
	padding-top: 2px;
}

.cometchat_ts_date {
	display: none;
}

.cometchat_ts_continer{
	text-align: right;
	padding: 0px 5px;
}

.cometchat_optionstyle {
	padding: 10px;
	padding-bottom: 17px;
}

.cometchat_tabstyle {
	height: 273px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.cometchat_self {
	color: <?php echo $themeSettings['tab_color_self'];?> !important;
	margin-left: 10px !important;
	margin-right: 13px !important;
	<?php if ($rtl):?>
	margin-left: 35px !important;
	margin-right: 13px !important;
	<?php endif;?>
}

.cometchat_typing {
	background-image: url(themes/<?php echo $theme;?>/images/pencil.png);
	background-size: auto 100%;
    background-repeat: no-repeat;
	display: none;
	float: <?php echo $left;?>;
	height: 13px;
	width: 16px;
}

.cometchat_buddylist_typing {
    background-image: url(themes/<?php echo $theme;?>/images/pencil_buddylist.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: none;
    float: <?php echo $left;?>;
    height: 13px;
    width: 16px;
}

.cometchat_sentnotification {
	background-image: url(themes/<?php echo $theme;?>/images/sent.png);
	background-size: auto 100%;
    background-repeat: no-repeat;
	display: inline-block;
	margin-left: 5px;
	height: 8px;
	width: 14px;
}

.cometchat_deliverednotification {
	background-image: url(themes/<?php echo $theme;?>/images/delivered.png);
	background-size: auto 100%;
    background-repeat: no-repeat;
	display: inline-block;
	margin-left: 5px;
	height: 8px;
	width: 14px;
}

.cometchat_readnotification {
	background-image: url(themes/<?php echo $theme;?>/images/read.png);
	background-size: auto 100%;
    background-repeat: no-repeat;
	display: inline-block;
	margin-left: 5px;
	height: 8px;
	width: 14px;
}

.cometchat_userscontentavatar {
	display: block;
	float: <?php echo $left;?>;
	padding-bottom: 1px;
	padding-<?php echo $left;?>: 11px;
	padding-top: 1px;
	position: relative;
	min-height: 35px;
	min-width: 35px;
}

.cometchat_userscontentavatarimage {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.cometchat_userscontentavatarsmall{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	float: <?php echo $left;?>;
}

#cometchat .cometchat_chatboxmessage img.cometchat_userscontentavatarsmall{
	border: 3px solid <?php echo $themeSettings['tab_border_light'];?>;
}

.cometchat_chatboxDisplayDetails{
	overflow: hidden;
	float: <?php echo $left;?>;
	max-width: 80%;
}

.cometchat_userdisplayname{
	padding: 2px 0px;
	margin-<?php echo $left;?>: 15px;
	font-size: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 16px;
	max-width: 220px;
}

.cometchat_userdisplaystatus {
	padding: 2px 0px 1px 0px;
	margin-<?php echo $left;?>: 15px;
	opacity: 0.6;
	font-size: 13px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 220px;
}


.cometchat_notification_avatar_image {
	height: 25px;
	width: 25px;
}

.cometchat_notification {
	border-top: 1px dotted <?php echo $themeSettings['tooltip_break'];?>;
	cursor: pointer;
	margin-top: 6px;
	padding-top: 4px;
	width: 176px;
}

.cometchat_notification:first-child {
	border-top: 0px !important;
	margin-top: 0px !important;
	padding-top: 0px !important;
	width: 176px;
}

.cometchat_notification_avatar {
	float: <?php echo $left;?>;
	padding-right: 6px;
	padding-top: 2px;
	width: 25px;
}

.cometchat_notification_message {
	float: <?php echo $left;?>;
	white-space: normal;
	width: 144px;
}

.cometchat_notification_status {
	color: <?php echo $themeSettings['tooltip_color_light'];?>;
	display: none;
	font-size: 10px;
}

.cometchat_statusbutton {
	background-color: <?php echo $themeSettings['tab_title_background'];?> !important;
	border: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	color: <?php echo $themeSettings['tab_title_color'];?>;
	cursor: pointer;
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_font_size_small'];?>;
	font-weight: bold;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 85px;
	height: 19px;
	float: <?php echo $left;?>;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 19px;
}

.cometchat_guestnamebutton {
	background-color: <?php echo $themeSettings['tab_title_background'];?> !important;
	border: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	color: <?php echo $themeSettings['tab_title_color'];?>;
	cursor: pointer;
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_font_size_small'];?>;
	line-height: 19px;
	font-weight: bold;
	margin-left: 4px;
	text-align:center;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 77px;
	display: inline-block;
	position: fixed;
	margin-top: 3px;
	height: 19px;
}

.cometchat_guestnametextbox {
	border: 1px solid <?php echo $themeSettings['tab_border_light'];?>;
	color: <?php echo $themeSettings['tab_color'];?>;
	background: <?php echo $themeSettings['tab_background'];?>;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4px;
	resize: none;
	width: 115px;
}

.cometchat_user_busy {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 0px -798px !important;
	height: 16px;
	padding-left: 0px !important;
	width: 16px;
}

.cometchat_announcement {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	white-space: normal;
	width: 176px;
	text-align: <?php echo $left;?>;
}

.cometchat_announcement * {
   max-width: 100%;
}

.cometchat_tooltip_content a {
	border-bottom: 1px dotted <?php echo $themeSettings['tab_link_color'];?>;
	color: <?php echo $themeSettings['tab_link_color'];?>;
	text-decoration: none;
}

.cometchat_user_shortname {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	float: <?php echo $left;?>;
}

#cometchat_hidden {
	background-color: <?php echo $themeSettings['tab_title_background'];?> ;
	background-color: <?php echo 'rgba('.(hex2rgb($themeSettings['tab_title_background'])).','.$backgroundOpacity.')';?> ;
	bottom: 0px;
	cursor: pointer;
	display: none;
	position: fixed;
	right: 18px;
	z-index: 100000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;

}

#guestsname {
	display: none;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

#cometchat_hidden_content {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 7px -1191px;
	border: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	height: 30px;
	padding-left: 7px;
	padding-right: 7px;
	width: 16px;
}

div#cometchat_hidden.cometchat_tabmouseover #cometchat_hidden_content {
	background-position: 7px -21px;
}

.cometchat_filetransfer_modal div {
	display: none;
	position: absolute;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	z-index: 75;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cometchat_filetransfer_overlay {
	display: none;
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000000;
	background-color: rgba(0, 0, 0, 0.0);
}

.cometchat_filetransfer_overlay_show {
	display: block !important;
	background-color: rgba(0, 0, 0, 0.7) !important;
}

.cometchat_filetransfer_image {
	position: relative;
	z-index: 77;
	max-width: 100%;
	max-height: 100%;
	margin-left: 0px;
	opacity: 1;
}
.cometchat_filetransfer_modal div:target video {
	margin-left: 0px;
	opacity: 1;
}
.close_dialog {
	cursor: pointer;
	position: fixed;
	z-index: 1000;
	right: 15px;
  	top: 15px;
}
.cometchat_filetransfer_content {
	position: relative;
	z-index: 100000;
}
.cometchat_filetransfer_download {
	cursor: pointer;
	position: fixed;
	top: 15px;
	right: 55px;
	z-index: 1000;
}

.cometchat_xtc {
	background: transparent url(themes/<?php echo $theme;?>/images/xgtc.png) repeat scroll 0 0;
	height: 10px;
}

.cometchat_xcl {
	background: transparent url(themes/<?php echo $theme;?>/images/xgcr.png) repeat scroll 0 0;
	width: 16px;
}

.cometchat_xcr {
	background: transparent url(themes/<?php echo $theme;?>/images/xgcl.png) repeat scroll 0 0;
	width: 10px;
}

.cometchat_xcc {
	background: transparent url(themes/<?php echo $theme;?>/images/xgcc.png) repeat scroll 0 0;
	font-size: 10px;
}

.cometchat_xbc {
	background: transparent url(themes/<?php echo $theme;?>/images/xgbc.png) repeat scroll 0 0;
	height: 8px;
}

.cometchat_tc {
	background: transparent url(themes/<?php echo $theme;?>/images/gtc.png) repeat-x scroll 0 0;
	height: 10px;
}

.cometchat_cl {
	background: transparent url(themes/<?php echo $theme;?>/images/gcl.png) repeat scroll 0 0;
	width: 10px;
}

.cometchat_cr {
	background: transparent url(themes/<?php echo $theme;?>/images/gcr.png) repeat scroll 0 0;
	width: 16px;
}

.cometchat_cc {
	background: transparent url(themes/<?php echo $theme;?>/images/gcc.png) repeat scroll 0 0;
	font-size: 10px;
}

.cometchat_bc {
	background: transparent url(themes/<?php echo $theme;?>/images/gbc.png) repeat-x scroll 0 0;
	height: 8px;
}

.cometchat_iphone .cometchat_chatboxmessage {
	margin-left: 0px;
}

.cometchat_iphone .cometchat_chatboxmessagefrom {
	display: none;
}

.cometchat_iphone {
	margin-bottom: 4px;
}

.cometchat_bl {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -59px;
	height: 9px;
	width: 10px;
}

.cometchat_br {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -118px;
	height: 9px;
	width: 16px;
}

.cometchat_tl {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -393px;
	height: 10px;
	width: 10px;
}

.cometchat_tr {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -453px;
	height: 10px;
	width: 16px;
}

.cometchat_xbr {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -572px;
	height: 9px;
	width: 10px;
}

.cometchat_xbl {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -631px;
	height: 9px;
	width: 16px;
}

.cometchat_xtr {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -906px;
	height: 10px;
	width: 10px;
}

.cometchat_xtl {
	background: url(themes/<?php echo $theme;?>/images/iphone.png) no-repeat top left;
	background-position: 0 -966px;
	height: 10px;
	width: 16px;
}

#cometchat_hide {
	background: url(themes/<?php echo $theme;?>/images/hide.png) no-repeat top left;
	background-position: 8px 8px;
	border-right: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?>;
	cursor: pointer;
	float: right;
	height: 25px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 6px;
	width: 16px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

#cometchat_hide:hover {
	background: url(themes/<?php echo $theme;?>/images/hide_dark.png) no-repeat top left;
	background-position: 8px 8px;
}

#cometchat_flashcontent {
	position: absolute;
	top: -1000px;
}

#cometchat_userstab_text {
	float: <?php echo $left;?>;
	<?php if ($rtl):?>
	padding-<?php echo $left;?>: 5px;
	<?php endif;?>

}

#cometchat_searchbar {
	display: none;
	background: <?php echo $themeSettings['tab_background'];?>;
}

.untranslatedtext {
	color: <?php echo $themeSettings['tab_color_self'];?>;;
}

.cometchat_trayicontext {
	float: <?php echo $left;?>;
	color: <?php echo $themeSettings['bar_text_background'];?>;
	font-family: <?php echo $themeSettings['bar_font_family'];?>;
	font-size: <?php echo $themeSettings['bar_font_size'];?>;
	font-weight: bold;
	width: auto;
	padding-top: 1px;
	padding-<?php echo $left;?>: 5px;
}

.cometchat_trayicon:hover .cometchat_trayicontext{
	color: <?php echo $themeSettings['bar_color'];?>;
}

.cometchat_trayclick .cometchat_trayicontext{
	color: <?php echo $themeSettings['bar_color'];?>;
}

.cometchat_trayiconimage {
	float: <?php echo $left;?>;
}

.cometchat_subsubtitle {
	color: <?php echo $themeSettings['tab_sub_color'];?>;
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_title_font_size'];?>;
	line-height: 1.3em;
	padding: 5px 0;
	cursor: default;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
}

.cometchat_subsubtitle_top {
	margin-top: 0px;
	padding-top: 0px;
}


.cometchat_subsubtitle .hrleft {
	display: inline-block;
	width: 5px;
	border: 0;
	background-color: <?php echo $themeSettings['tab_border_light'];?>;
	height: 1px;
	margin-right: 5px;
	margin-bottom: 3px;
}

.cometchat_subsubtitle .hrright {
	display: inline-block;
	width: 200px;
	border: 0;
	background-color: <?php echo $themeSettings['tab_border_light'];?>;
	height: 1px;
	margin-<?php echo $left;?>: 5px;
	margin-bottom: 3px;
}

.cometchat_nofriends {
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_title_font_size'];?>;
	line-height: 1.3em;
	padding: 0px 10px;
	color: <?php echo $themeSettings['tab_sub_color'];?>;
}

.cometchat_ad {
	background: <?php echo $themeSettings['tab_background'];?>;
}

.cometchat_lastseenmessage {
	overflow: hidden;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.cometchat_lastseen {
	overflow: hidden;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.cometchat_message {
	overflow: hidden;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cometchat_chatboxmessagecontent{
	background: <?php echo $themeSettings['tab_sub_background'];?>;
  	margin-<?php echo $left;?>: 35px;
  	margin-<?php echo $right;?>: 10px;
  	<?php if ($rtl):?>
		margin-<?php echo $left;?>: 48px;
  		margin-<?php echo $right;?>: 25px;
	<?php endif;?>

  	padding: 10px 8px;
  	border-radius: 5px;
  	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 15px;
}

.cometchat_chatboxmessage:not(.cometchat_self) .cometchat_messagearrow {
	border-<?php echo $right;?>: 11px solid <?php echo $themeSettings['tab_sub_background'];?>;
	border-bottom: 15px solid transparent;
	position: absolute;
	top: 0px;
	<?php echo $left;?>: 28px;
	<?php if ($rtl):?>
	<?php echo $left;?>: 40px;
	<?php endif;?>
}

.cometchat_chatboxmessage.cometchat_self .cometchat_messagearrow {
	border-<?php echo $left;?>: 11px solid <?php echo $themeSettings['tab_sub_background'];?>;
	border-top: 15px solid transparent;
	position: absolute;
	bottom: 0px;
	<?php echo $right;?>: 6px;
	<?php if ($rtl):?>
	<?php echo $right;?>: 27px;
	<?php endif;?>
}

.cometchat_container {
	z-index: 100001;
	position: fixed;
	top:200px;
}

.cometchat_container_title {
	cursor: default;
	background-color: <?php echo $themeSettings['tab_title_background'];?> ;
	background-color: <?php echo 'rgba('.(hex2rgb($themeSettings['tab_title_background'])).','.$backgroundOpacity.')';?> ;
	border-left: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	border-right: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	border-top: 1px solid <?php echo $themeSettings['tab_title_background'];?>;
	color: <?php echo $themeSettings['tab_title_color'];?>;
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_title_font_size'];?>;
	line-height: 14px;
	padding: 8px;
	padding-<?php echo $right;?>: 5px;
	font-weight:bold;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.cometchat_container_title span {
	float: <?php echo $left;?>;
}

.cometchat_container_body {
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-bottom: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-right: 1px solid <?php echo $themeSettings['bar_border'];?>;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: <?php echo $themeSettings['tab_background'];?>;
	position: relative;
	overflow:hidden;
}

.cometchat_iframe {
	position: absolute;
	top: 0px;
	left: 0px;
}

.cometchat_loading {
	position: absolute;
	background: url(themes/<?php echo $theme;?>/images/loader.gif);
	right: 10px;
	top: 10px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.cometchat_overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

.cometchat_options_disable {
	border-top: 1px solid <?php echo $themeSettings['tab_border_light'];?>;
	border-bottom: 1px solid <?php echo $themeSettings['tab_border_light'];?>;
	margin-top: 10px;
	margin-bottom: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

#cometchat_userstab_popup_available, #cometchat_userstab_popup_busy, #cometchat_userstab_popup_invisible, #cometchat_userstab_popup_offline {
	cursor: pointer;
}

.cometchat_tabsubtitle2 {
	cursor: pointer;
	background-color: <?php echo $themeSettings['tab_sub_background'];?>;
	<?php if($lang == 'en'):?>
	background: url(extensions/jabber/jabber_dark.png) no-repeat <?php echo $themeSettings['tab_sub_background'];?> 11px 5px;
	<?php endif;?>
	border-bottom: 1px solid <?php echo $themeSettings['tab_border_light'];?>;
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-right: 1px solid <?php echo $themeSettings['bar_border'];?>;
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-size: <?php echo $themeSettings['tab_font_size'];?>;
	<?php if($lang == 'en'):?>
	padding: 10px 4px 10px 46px;
	<?php else:?>
	padding: 10px 8px;
	<?php endif;?>
	line-height: 1.3em !important;
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;*/
	color: <?php echo $themeSettings['tab_sub_color'];?> !important;
	font-weight: bold;
	text-decoration: none;
}

.cometchat_tabsubtitle2:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	text-decoration: underline;
	background-color: <?php echo $themeSettings['tab_background'];?>;
}

.cometchat_unblock {
	float: right;
	cursor: pointer;
	background: url('plugins/block/unblock.png') no-repeat scroll 0px 0px transparent;
	height: 16px;
	width: 16px;
	margin-top: -1.5px;
}
.cometchat_userlist .cometchat_userscontentname {
	text-overflow: ellipsis;
	max-width: 160px;
	white-space: nowrap;
	overflow: hidden !important;
}

.cometchat_tab .cometchat_user_shortname {
	text-overflow: ellipsis;
	max-width: 105px;
	white-space: nowrap;
	overflow: hidden !important;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 2px;
}

.cometchat_tabtitle .cometchat_name a {
	text-overflow: ellipsis;
	max-width: 160px;
	white-space: nowrap;
	overflow: hidden !important;
}

.cometchat_tabtitle .cometchat_name  {
	text-overflow: ellipsis;
	max-width: 160px;
	white-space: nowrap;
	overflow: hidden !important;
	padding: 0px 4px;
}

.invite_name{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100px;
	float: <?php echo $left;?>;
}
#statusupdate_div,#guestnameupdate_div {
	font-size: <?php echo $themeSettings['tab_font_size_small'];?>;
	padding: 2px;
}

.cometchat_statusbutton > img , .cometchat_guestnamebutton > img {
	margin: 1px 35%;
	opacity: 0.5;
}

.cometchat_extra_width {
	width: 214px !important;
}

.cometchat_border_bottom {
	border-bottom: 1px solid <?php echo $themeSettings['tab_border_light'];?>;
	background-image: none;
}

.cometchat_avchat{ background-position: 0 0; width: 16px; height: 16px; }
.cometchat_audiochat { background-position: 0 -1156px; width: 16px; height: 16px; }
.cometchat_block{ background-position: 0 -101px; width: 16px; height: 16px; }
.cometchat_broadcast{ background-position: 0 -167px; width: 16px; height: 16px; }
.cometchat_chathistory{ background-position: 0 -233px; width: 16px; height: 16px; }
.cometchat_chattime{ background-position: 0 -299px; width: 16px; height: 16px; }
.cometchat_clearconversation{ background-position: 0 -365px; width: 16px; height: 16px; }
.cometchat_style{ background-position: 0 -396px; width: 16px; height: 16px; }
.cometchat_filetransfer{ background-position: 0 -497px; width: 16px; height: 16px; }
.cometchat_games{ background-position: 0 -563px; width: 16px; height: 16px; }
.cometchat_handwrite{ background-position: 0 -629px; width: 16px; height: 16px; }
.cometchat_report{ background-position: 0 -690px; width: 16px; height: 16px; }
.cometchat_save{ background-position: 0 -761px; width: 16px; height: 16px; }
.cometchat_screenshare{ background-position: 0 -827px; width: 16px; height: 16px; }
.cometchat_smilies {position: absolute;top: 0px;left : 0px;margin-top: 0px;font-size: 31px;line-height: 25px;color: <?php echo $themeSettings['tab_title_background'];?>;font-weight: normal;cursor: pointer;}
.cometchat_transliterate{ background-position: 0 -959px; width: 16px; height: 16px; }
.cometchat_whiteboard{ background-position: 0 -1024px; width: 16px; height: 16px; }
.cometchat_writeboard{ background-position: 0 -1091px; width: 16px; height: 16px; }
.cometchat_stickers { background-position: -1px -1217px; width: 16px; height: 16px; }

#cometchat .ui-icon,#cometchat .ui-widget-content .ui-icon {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 1px  -1141px;
}

#cometchat .ui-icon-gripsmall-diagonal-se { background-position: 0px -74px; }

#cometchat .ui-icon {
	width: 16px;
	height: 16px;
}

#cometchat .ui-resizable-se {
	cursor: se-resize;
	right: 1px;
	bottom: 1px;
}
#cometchat .ui-resizable-handle {
	background: url(themes/<?php echo $theme;?>/images/cometchat.png) no-repeat top left;
	background-position: 1px  -1141px;
	position: absolute;
	font-size: 0.1px;
	display: block;
}
#cometchat .ui-icon {
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

#cometchat .file_image {
	max-width:125px;
	padding-left: 6%;
	max-height: 170px;
}

#cometchat .file_video {
	max-width:65px;
	height:60px;
	display: block;
}

#cometchat .file_audio {
 	max-width:65px;
 	height:60px;
 	display: block;
 }

#cometchat .imagemessage {
	display: block;
	margin-bottom: 3px;
	margin-top: 3px;
}

.cometchat_prependMessages_container{
	background: <?php echo $themeSettings['tab_background'];?> ;
	border-left: 1px solid <?php echo $themeSettings['bar_border'];?>;
	border-right: 1px solid <?php echo $themeSettings['bar_border'];?>;
	padding: 5px;
}

.cometchat_prependMessages{
	background-color: <?php echo $themeSettings['bar_background'];?> !important;
	background-color: <?php echo 'rgba('.(hex2rgb($themeSettings['bar_background'])).','.($backgroundOpacity).')';?> !important;
	color: #FFFFFF;
	cursor: pointer;
	font-family: <?php echo $themeSettings['tab_title_font_family'];?>;
	font-weight: bold;
	height: 12px;
	font-size:9px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 12px;
	padding: 3px;
	border: 1px solid <?php echo $themeSettings['bar_background'];?>;
	width: 60%;
	margin: 0px auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.cometchat_prependMessages:hover{
    cursor: pointer;
}

.placeholder
{
  color: #aaaaaa !important;
}

#cometchat img {
    /*conflict resolution pg dating pro*/
   border: none;
   padding: 0;
   background: transparent;
}

.cometchat_stickerImage {
	display: block;
}