@font-face {font-family: "Neo Sans Arabic Regular";
  src: url("../fonts/Neo Sans Arabic Regular.eot"); /* IE9*/
  src: url("../fonts/Neo Sans Arabic Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Neo Sans Arabic Regular.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/Neo Sans Arabic Regular.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Neo Sans Arabic Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Neo Sans Arabic Regular.svg#Neo Sans Arabic Regular") format("svg"); /* iOS 4.1- */
}


/*body{font-family:"Neo Sans Arabic Regular";}*/
.container{direction: rtl;}
strong, b {font-family:"Neo Sans Arabic Regular"!important; font-weight: strong!important;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {float: right;}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float: right;}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: right;}
.logo-block{float: right}
.sidenav{float: left; direction: rtl;}
.header .menu-icon, .pegi, .breadcom-block{float: left;}
.min-menu li{margin-left: 0; margin-right: 20px;}
.min-menu li .su-menu li, #dd .dropdown li{margin-right: 0;}
.drop-block-new .img-arrow-menu{left: auto; right: 10px;}
.wrapper-dropdown-1 .dropdown li a{text-align: right;}
.plus-img-block{right: auto; left: -15px;}
.border-block:first-child{border-right: none;}
.no-bor-righ{border-right: 1px solid #e1e1e1;}
.rtl-new{border-right: none;}
.diver-img-block{right: auto; left: -90px;}
.or-block-cont{right: auto; left: 0;}
.or-block-cont .border-top{border-right: none; border-left: 2px solid #ffffff;}
.or-block-cont .or-block-new{margin-right: 0; margin-left: -44px;}
.icon-img-block-app .fa{padding-right: 0; padding-left: 20px;}
.down-block-new-search{float: right;}
.textbx-block-search button{right: auto; left: 5px;}
.textbx-block-search input{padding: 0 10px 0 135px}
.btn-playstore button{margin-right: 0; margin-left: 18px;}
.subscri-block-new button{right: auto; left: 6px;}
#dash-header-home .min-menu li{margin-left: 0;}
.sub-menu.name-block-user.mobil-hide .su-menu{right: auto; left: 0;}
.img-arrow-menu{right: auto;left: 20px;}
.name-block-user .img-block-user, .min-menu li .su-menu li a i, .left-bar .menu-bx li i, .breadcom-block ul li a, .pdf-down-btn{margin-right: 0; margin-left: 10px;}
.menu-bx > ul > li.has-sub > a, .has-sub.padd-left.active a, .has-sub.padd-left.active a:hover{background-position: 6% center;}
.menu-bx > ul > li.has-sub > a:hover{background-position: 6% center;}
.breadcom-block ul li a{background-position: left center;}
.breadcom-block ul li a{padding: 0 0 0 20px;}
.action-btn-block{right: auto; left: 0;}
.delete-btn-block, .search-box, .page-head-block, .tab-section-block.tab-verti-section, .verticalslide.responsive-tabs.tabs > div.content{float: right;}
.view-profile-block, .btns-main-block, .label-block, .pagi-block-new{text-align: left;}
.rtl-tab-new{float: left; margin-right: 5px;}
th, .responsive-tabs.tabs .tab-section-block.tab-verti-section ul li a, .icon-content-block, .text-block-head{text-align: right;}
.rtl-padd-bock{padding-left: 0 !important; padding-right: 30px !important;}
.rtl-padd-bock-last{padding-right: 0 !important; padding-left: 25px !important;}
.print-receipt-btn{margin-right: 0; margin-left: 30px;}
.tab-section-block.tab-verti-section{border-right: none; border-left: 1px solid #e7eef2;}
.img-block-profile{margin-right: 0; margin-left: 8px;}
.search-block-message button{right: auto; left: 8px;}
.search-block-message input{padding: 0 15px 0 40px;}
.input-msg-send-block button{right: auto; left: 10px;}
.fileUpload.attached-block{right: auto; left: 45px;}
.input-msg-send-block input{padding: 0 15px 0 80px;}
.on-button{padding: 8px 4px;}
.off-button{margin-right: 7px; margin-left: 0px;}
.slider{left: 5px; right: 0;}
.btn.btn-primary.btn-file{float: left; border-radius: 5px 0 0 5px; right: auto; left: 0;}
.send-btn-post{float: left;}
.block-one-main:last-child{background-image: url("../images/line-diversion-img.png"); background-position: right center; background-repeat: no-repeat;}
.block-one-main:first-child{background-image: none;}
.icon-block{padding: 0 0 0 13px}
.skils-project span{margin-right: 0; margin-left: 12px;}
.going-pro, .rating_profile, .img-block-review{margin-right: 0; margin-left: 15px;}
.profile-name a{margin-top: -3px; float: right;}
.text-desig-blok{margin-left: 0; margin-right: 10px;}
.br-left {border-left: 1px solid #e3e3e3; border-right: none;}
.rating-profile{margin: 10px 38px 15px 0;}
.page-next-btn-block a{float: left}
.date-pick-div i{right: auto; left: 13px;}
.select-bock-container, .select-style{background-position: 2% center;}
.search-section .normal-btn, .portfolio-strip{float: left;}
input.serach-frm{float: right; background-position: 99% center; padding: 0 35px 0 15px}
.tooltips:hover .tool-main {margin-left: 0; margin-right: -30px;}
.awd_btn, .address-bx img{margin-right: 0; margin-left: 9px;}
.rating-list{margin-right: 0;}
.forgot-pass-block .check-bx, .responsive-tabs.tabs > .tab-section-block ul li, .login-block-txt{float: right;}
.forgot-pass-block .forgot-pass-txt, .partner-signup{float: left;}
.check-bx input.css-checkbox[type="checkbox"] + label.css-label{background-position: 100% 0; padding-left: 0; padding-right: 17px;}
.check-bx input.css-checkbox[type="checkbox"]:checked + label.css-label{background-position: 100% -12px;}
.points-footer li:hover{margin-right: 5px}
.compla-project-cont{text-align: right;}



@media all and (max-width:1180px){
    .min-menu li a i, .wrapper-dropdown-1 i, .drop-block i{float: left;}
    .min-menu li{margin-right: 0;}
    .lang .wrapper-dropdown-1{text-align: right;}
    .min-menu li .su-menu li a:hover{padding-right: 28px;}
    .wrapper-dropdown-1 .dropdown li a:hover{padding-right: 3px;}
}
@media all and (max-width:991px){
    .rating-profile{margin-right: 0;}
    .btn-main-block{text-align: right;}
    .block-one-main{margin-bottom: 10px;}
}

@media all and (max-width:767px){
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{float: none;}
}

