/*.grid {position: relative; margin: 0 auto; max-width: 1000px; list-style: none; text-align: center;}*/
/* Common style */
.grid .effect-layla {position: relative; float: left; overflow: hidden; background: #3085a3; text-align: center; cursor: pointer;}
.grid .effect-layla img {position: relative; display: block; /*min-height: 100%;*/ max-width: 100%; opacity: 0.8;}
.grid .effect-layla .over-txt-block {padding: 2em; color: #fff; text-transform: uppercase; font-size: 1.25em; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.grid .effect-layla .over-txt-block::before, .grid .effect-layla .over-txt-block::after {pointer-events: none;}
.grid .effect-layla .over-txt-block, .grid .effect-layla .over-txt-block > a {position: absolute; top: 0; left: 0; width: 100%;	height: 100%;}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {z-index: 1000; text-indent: 200%; white-space: nowrap; font-size: 0; opacity: 0;}
.grid figure p {margin: 0; letter-spacing: 1px; font-size: 22px;}

/* Individual effects */
/*---------------*/
/***** Layla *****/
/*---------------*/

.effect-layla {background: #382b4b;}
.effect-layla .over-txt-block {padding: 1em;}
.effect-layla .over-txt-block::before, .effect-layla .over-txt-block::after {position: absolute; content: '';	opacity: 0;}
.effect-layla .over-txt-block::before {top: 20px; right: 10px; bottom: 20px; left: 10px; border-top: 1px solid #fff; border-bottom: 1px solid #fff; -webkit-transform: scale(0,1); transform: scale(0,1); -webkit-transform-origin: 0 0; transform-origin: 0 0;}
.effect-layla .over-txt-block::after {top: 10px; right: 20px; bottom: 10px; left: 20px; border-right: 1px solid #fff; border-left: 1px solid #fff; -webkit-transform: scale(1,0);
	transform: scale(1,0); -webkit-transform-origin: 100% 0; transform-origin: 100% 0;}
.effect-layla img, .effect-layla .over-txt-block::before, .effect-layla .over-txt-block::after, .effect-layla p {-webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s;}
.effect-layla:hover img {opacity: 0.4;}
.effect-layla:hover .over-txt-block::before,
.effect-layla:hover .over-txt-block::after {opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
.effect-layla h2{font-size: 16px; margin-bottom: 0; margin-top: 5px; display: none; -webkit-transition-delay: 0.15s; transition-delay: 0.15s;}
.effect-layla p{font-size: 14px; padding: 0.5em 2em; text-transform: none; opacity: 0;}
.effect-layla:hover h2, .effect-layla:hover p {opacity: 1; display: block;}

@media all and (max-width:1199px){
/*portfolio-overbox css*/
	.grid .effect-layla .over-txt-block{padding: 1em;}
	.effect-layla p{padding: 0.1em 1.5em;}
}

@media all and (max-width:991px){
/*	.new-block-tab-content{margin: 0;}*/
}
@media all and (max-width:767px){
.grid .effect-layla .over-txt-block{padding: 2em;}
}